[2018-05-16 21:54] veganexe opened #1 "How to change language?"
Suppose I want to use Spanish, how do I set it as default?

[2018-05-16 21:57] veganexe opened #2 "An searchbar in the welcome page"
I would understand if you would prefer it to be a minimalistic API, but an optional welcome page with a search bar would help alot for UX. I would delete the Google dictionary add-on and bookmark if it were the case :D

[2018-05-24 05:49] meetDeveloper commented on #2
I would implement that  today itself, thanks for suggestion, it is very fulfilling to see the thing you developed used by others. Thanks.

[2018-05-24 16:08] meetDeveloper commented on #2
Added search bar. Thanks for the suggestion. You can request for any feature and I will try to implement it.

[2018-05-26 09:51] rawandahmad698 opened #3 "Looking for the word pronunciation"
This is not an issue, it works great.. just a tip

I'd be more happy to see the word pronunciation included in this awesome script, e.g: Love: /lʌv/
And +1 if you could order the data as an array

[2018-05-27 11:04] meetDeveloper commented on #3
I have implemented this, could you check it and tell me is this what you were looking for??

[2018-05-27 20:10] rawandahmad698 commented on #3
Thanks, Perfect 👌🏻

[2018-05-27 20:10] #3 closed

[2018-05-28 02:41] meetDeveloper commented on #3
@rawandahmad698 I also made an extension https://addons.mozilla.org/en-US/firefox/addon/dictionary-anyvhere/?src=search, feel free to check it out, if it helps you.

[2018-05-28 17:41] rawandahmad698 opened #4 "Order things as an Array"
Hello there,

Thank you for the great effort you put in to this, we have an application and we use your script to scrape Google Dictionary Data.

At this moment, we have to loop through word classes e.g _noun, verb, adjective_ in order to get the data, However. these three aren't the only ones, there are _nounarchaic, nounBotany, verbFormal_  and a lot more we don't know..

So, we can't actually g

[2018-05-30 14:06] ScottEnock opened #5 "Support for multiple Definitions."
Depending on the word, Google will return multiple definitions for a word. For example, "steer" returns two separate definitions, the first being "guide or control the movement of (a vehicle, vessel, or aircraft)" and the second being "another term for Bullock.".

At the moment the API only scrapes the first definition, It would be a nice addition if you could return all definitions. Thanks!

[2018-05-30 18:38] meetDeveloper commented on #4
I will try to solve what you propose here, Sorry for late reply, notification for issues does not come on my mail, it would from now on, Sorry for late response.

[2018-05-30 18:39] meetDeveloper commented on #5
Thanks for suggestion, will do so by tomorrow.

[2018-05-30 18:48] meetDeveloper commented on #4
Actually can you tell me, this json2 is object right?? Which you made from json response.

[2018-05-31 03:50] meetDeveloper commented on #4
I think what you need is Mirror, https://developer.apple.com/documentation/swift/mirror. It will help you out. In case you find any trouble you can ask for help.

[2018-05-31 10:29] meetDeveloper commented on #4
You can take a look at this https://makeitnew.io/reflection-in-swift-68a06ba0cf0e. It will help you a lot and definitely solve your problem.

[2018-06-01 18:01] meetDeveloper commented on #4
@rawandahmad698 Hello?

[2018-06-01 18:36] meetDeveloper commented on #2
@veganexe  Hello??

[2018-07-23 04:46] tomslloyd opened #6 "Not Found and Bad Gateway response"
It will not allow me to request the output with my local server i keep getting the following results,

404 Not Found: Requested route ('googledictionaryapi.eu-gb.mybluemix.net') does not exist.
Bad Gateway response too.

please fix this,

what are the request limits for your server.

[2018-07-24 10:11] meetDeveloper commented on #6
I tried today itself, it is not giving me that error. Can you check again?

[2018-07-24 19:24] tomslloyd commented on #6
It only happens when i call the URL from PHP to retrieve data, then when it errors i cannot access the address then for some time, i think i might be doing too many requests at once what is the limit per sec/min.

i got this error now at 34/07/2018 08:21 PM GMT
404 Not Found: Requested route ('googledictionaryapi.eu-gb.mybluemix.net') does not exist.

can you provide me with help to using your app

[2018-07-25 02:51] meetDeveloper commented on #6
Can you tell from start what do you want to achieve??

[2018-07-25 02:58] meetDeveloper commented on #6
Also You can use https://dictionaryapi.herokuapp.com if the other one is down. I guess high number of requests are not supported, I am having free pack of the hosted service. If you could tell me what do you want to achieve maybe we can find some other way to achieve that.

[2018-07-25 03:51] tomslloyd commented on #6
https://dictionaryapi.herokuapp.com loads the search box, but on search it shows application Error.

i have a list of the oxford dictionary words in a DB sum 300K words, i am trying to use your app to pull the data into that DB so i can then release a full english dictionary API with a load of features,

at the moment it is on a dev server so the url sent is not a reachable url just on local netwo

[2018-07-25 04:11] meetDeveloper commented on #6
300k is a lot. I can make a server for you such that you use your own ip to access Google dictionary as an api but still 300k would block you for a while.  You can try these free options maybe it will help you https://medium.com/@martin.breuss/finding-a-useful-dictionary-api-52084a01503d , also do read the comments of article too. Also may I know what sort of features you are thinking to add . And

[2018-07-25 04:41] tomslloyd commented on #6
i know it's a pain, that why i cut it down to run a few at a time like 20-50 searches then wait 45-60 secs to make another request. i did look at that exact page a while ago a after looking through them it doesnt provide it all its one or the other and has a limit to requests a month so would take longer to finish, yours actually provides what i want exactly.

i intend to make it like google's old

[2018-07-25 05:34] meetDeveloper commented on #6
'but may have blocked myself from it in the process of making it.'  sorry I
could not get meaning of this line .

On Wed, Jul 25, 2018, 10:11 AM Tom L <notifications@github.com> wrote:

[2018-07-25 05:54] tomslloyd commented on #6
sorry,
i mean, i may have been blocked or had the url i use in my dev server blocked from accessing it, while i was making the API.

[2018-07-25 06:05] meetDeveloper commented on #6
Why do you have want to query all the definition in one go?? Why can't the
person who will be using your api query themselves and then your api in
backend call my api. That way it won't get blocked.

On Wed, Jul 25, 2018, 11:24 AM Tom L <notifications@github.com> wrote:

[2018-07-26 01:54] tomslloyd commented on #6
I was thinking the same thing actually and then store the values then so it doesn't need to be recalled.
thank you for your help.

[2018-07-26 01:59] tomslloyd commented on #6
could you add to it to include the origin part of the section too.

[2018-07-27 06:31] meetDeveloper commented on #6
Yes I will add it too, Can you tell me all things  that you want. Also that origin part is an image. Shall I include that as link like I have included link for audio.

[2018-07-27 06:32] meetDeveloper commented on #2
@veganexe  hi

[2018-07-27 07:04] tomslloyd commented on #6
thank you, together i think we can make my API Awesome,

i was looking towards the text below thee image, but including the image too cant hurt
could you add the part below noun/verb bit that shows the additional defines like the plural noun too.
and is there a way to get translation to another language by request.

other than that, i dont know if you can scrap anything else off it ha.

[2018-07-27 14:53] meetDeveloper commented on #6
I can add those things, I have to restructure the API so that it would be easy to visualize and that would take time, I can add origin part quickly.  What do you mean by addition define, can you share picture with red arrows marking what other things you want?

[2018-07-29 02:51] tomslloyd commented on #6
Everytime i try to request the site from my dev site it still gives me either of the errors do you have the ability to remove blocked sites from the host.
![github-example](https://user-images.githubusercontent.com/32118196/43362463-85f7a26c-92e2-11e8-8295-bb2ea887c73f.jpg)

in 3 you see the noun and plural noun parts. some words have them some dont that what i mean

[2018-07-29 05:58] tomslloyd commented on #6
i have made it work on localhost finally so i got the ability to do it without getting blocked while testing, i have created a pull request for my updates to app.js which include these options and fixed a bug for you too.
pulling the images might be bad as they are raw data so its a bit much to output i think, but text works just as fine.

[2018-07-31 04:16] meetDeveloper commented on #1
IBM Cloud [toolchain](https://console.ng.bluemix.net/devops/toolchains/623ac46c-aeaa-4433-a262-223430c2e0af?env_id=ibm%3Ayp%3Aus-south "googleDictionaryAPI"): [Delivery Pipeline](https://console.ng.bluemix.net/devops/pipelines/43a8bfc9-4989-4464-8299-979f59631a9c?env_id=ibm%3Ayp%3Aus-south "googleDictionaryAPI") deployed [googleDictionaryAPI](https://github.com/meetDeveloper/googleDictionaryAPI/re

[2018-08-01 11:06] meetDeveloper commented on #6
I included your code.

[2018-08-01 11:06] meetDeveloper commented on #6
But it has some problems, search for any word now.

[2018-08-06 07:36] meetDeveloper commented on #6
Can you create another pull request??

[2018-09-05 07:12] sridvenk opened #8 "404 Not Found"
Hi, service was working fine yesterday, but when I try to today I get a 404 Not Found with the following message:
Not Found
We're sorry, we couldn't find what you were looking for.
You can try a search or start over on the home page.

The starting webpage loads okay, but any query returns the above error.

[2018-09-05 07:32] meetDeveloper commented on #8
Maybe google has changed the classes name, on which it works, I will correct it soon. Thanks for informing.

[2018-09-15 19:54] meetDeveloper commented on #8
@sridvenk  is it working now??

[2018-09-15 20:36] #8 closed

[2018-09-15 20:37] meetDeveloper commented on #2
Implemented

[2018-09-15 20:37] #2 closed

[2018-09-15 20:46] meetDeveloper opened #10 "Kindly Suggest New Features"
To all people who are using this API, or want to use this API and does not find some features they want, kindly suggest me here in comments, and I will implement them, I was busy lately and was not able to take care of many things, now I will update this API on regular basis, your feedback is appreciated.

P.S : Kindly Suggest new features as its own new issue.

[2018-09-23 13:59] meetDeveloper commented on #1
I implemented this feature, sorry for the delay. Kindly provide your feedback. @veganexe

[2018-09-24 07:49] meetDeveloper commented on #1
Implemented.

[2018-09-24 07:49] #1 closed

[2018-09-26 00:03] Yusadolat commented on #10
Hi there,
Thank for this awesome work. Can you work on adding the search word Image to the JSON result?

[2018-09-26 05:34] Yusadolat commented on #10
I'm building a dictionary bot with this API 😁

[2018-09-26 05:54] meetDeveloper commented on #10
I can include the image link in the json, is it fine???

On Wed, Sep 26, 2018 at 11:04 AM Yusuf Adeyemo <notifications@github.com>
wrote:

[2018-09-26 06:02] meetDeveloper commented on #10
But the word image is not provided by google, the provide origin history
image, can you look at it, and tell me will that work?

On Wed, Sep 26, 2018 at 11:24 AM Suraj Jain <srjjain1996@gmail.com> wrote:

[2018-09-26 08:51] Yusadolat commented on #10
Yes, Please include it in the json

[2018-09-29 05:52] meetDeveloper commented on #10
@Yusadolat  Sorry, for the delay, I will implement it today, I had exams.

[2018-09-29 12:43] meetDeveloper opened #11 "Your Review for new Website"
I have changed website for the API, and I need your feedback on how it is. Kindly tell me if you want any changes or addition. Your feedback is appreciated.

[2018-09-29 12:49] meetDeveloper opened #12 "Multiple Languages Added"
I have added more languages in dictionary API.

 Kindly provide your feedback if the feature is working correct.

What it does is if you send extra parameter **lang='language code'** along with **define**, then the word is searched in that language dictionary, example if you send request  **/?define=bonjour&lang=fr**, where **fr** is language code for french. The result will be meaning of **bonjou

[2018-09-29 14:06] Yusadolat commented on #10
No worries bro,
Would like to see your work in action?
Below is what I built with
It's a WhatsApp Dictionary chatbot.

When you search a word, you get the word meaning and it's usage. It's so fast and on point. This is how to beat your grammarian friends who bombard you with jaw threatening words.
Your feedback will go a long way to help me improve it and you will be acknowledged upon completion.

[2018-09-29 19:42] meetDeveloper commented on #10
I used your dictionary bot, it was very good. I have few suggestions.

1. For words that do not have example or/and synonyms your bots shows undefined for them, it should not show that. Try word **frenemy**, it has no synonym or example on google, so it shows undefined.
2.  Also have space between synonyms, yours is like a,b,c .. it should be a, b, c.
3. I have included various other language for

[2018-09-29 20:30] Yusadolat commented on #10
I would work on it, Thank you

I just fix this now, You can check. Thank for pointing it out

Thanks for improving this API

**I will work around the slang bot you  talked about and also keep you posted on the progress**
As for the tools i used, Here you go

Twilio WhatApp API
Node/Express
Your Dictionary API

Thank you!

[2018-10-02 10:34] meetDeveloper commented on #10
@Yusadolat, How is your work going, also I am thinking do you really need word image for this project?

[2018-10-02 11:10] Yusadolat commented on #10
Well, I really don't need it as a core feature. it an addon.

Thank you!

[2018-10-02 13:15] meetDeveloper commented on #10
@Yusadolat Because I am unable to find image, as google does not provide it.

[2018-10-15 05:06] meetDeveloper commented on #5
Yeah sure, you can go on and implement it I will commit the changes, I was
kind of busy these few days in college and stuff. Thanks for the effort.

On Oct 14, 2018 3:52 AM, "Martin Breuss" <notifications@github.com> wrote:

[2018-10-19 11:00] meetDeveloper commented on #5
@martin-martin There?

[2018-10-19 14:08] martin-martin commented on #5
Hei there! Haven't worked on it yet. Also busy myself and I'm mostly working with python, so I'd have to dig into the JS code you're using.

I'm still interested in your project and would love to collaborate in some ways - but maybe this is not the best feature for me to work on, especially if you have the time to do it yourself : )

[2018-10-20 20:30] meetDeveloper commented on #5
@martin-martin Oh, It is all right. I will implement the feature soon. And suggest me some more features and I will be happy to implement them.

[2018-10-27 17:15] GE0NE commented on #11
How do I get the JSON payload now?
Before it used to return nothing but the JSON which is why I loved it; I didn't have to filter through anything. Now I can't seem to find the data in JSON format at all, and I have to use BeautifulSoup to get the data I need from the HTML.

[2018-10-27 17:30] meetDeveloper commented on #11
@GE0NE  I was just testing, you will get the data from JSON. I was testing as API was not working, I figured it out google put recaptcha challenge due to too many request too google to get the meaning. I will soon purchase many IP's so that API continue running without any interrupt.

[2018-10-28 08:09] meetDeveloper opened #13 "Due to High Traffic - API gets detected by google"
Due to high amount of traffic, now the request I send to google server side does not go through and instead, it shows recaptcha page, and so all of you people must be experiencing downtime. I am finding solution for the problem, Sorry for inconvenience caused.

[2018-10-29 15:44] martin-martin commented on #11
Hi! I added some changes to the website design here as a [PR](https://github.com/meetDeveloper/googleDictionaryAPI/pull/15). Check it out and let me know if you like it @meetDeveloper  :)
Tried to keep it simple, but still add some example responses and the necessary info all on one page.

[2018-11-02 17:49] ojoven commented on #13
Hey @meetDeveloper, now it seems to be working.
Wanted to ask you, what's the rate limit for the calls?
Do you have any info on that? What was that high amount of traffic?

Thanks for your work.

[2018-11-08 10:26] yucongo opened #17 "German to English possbile？"
Is it possible to lookup a word in one language and get the explanation in another language? For example, look up a German word machen,  and get the meaning in English?

Thank a lot.

[2018-11-08 13:03] meetDeveloper commented on #13
@ojoven I actually query google at the back-end and then scrap the results, so google limits the call.  I am getting 6-7 request per minute. and google rate limit is around 10  per hour, they eventually detect that an application is scrapping their results.

[2018-11-13 09:54] meetDeveloper commented on #17
@yucongo  I will see to it, currently it is not available, I will implement it soon. May I ask you what are you designing such that you need such functionality.

[2018-11-13 09:54] meetDeveloper commented on #17
It will help me understanding your need and better designing the solution.

[2018-11-15 14:45] MatteoAvalle opened #18 "Usage rights"
Hi,
I really like your API and I'm considering introducing it in one of my websites as "free feature", even if inside a commercial website, with paying customers. I was wondering if you have any insights about what are the usage limits of the data your API fetches: do I risk anything in showing API results in my website? (I would obviously cache results so that the volume of searches would be negl

[2018-11-18 11:12] meetDeveloper opened #19 "Dictionary Won't Work for other languages for some time"
Due to having change the structure of the program and various significant parameters.
Dictionary API won't work for languages other than English for sometime.
I will soon patch the issue and get it working.
Thanks for your support.

[2018-11-18 11:17] meetDeveloper commented on #18
Actually I  am using results from Oxford Dictionary, from which google sources the result, and currently I am only scrapping the result, I have only recently changed the source from directly taking from google to Oxford from which google takes, so I do not know the current limits. As far as I know it would be harmless, and you can go on putting that.

Also I am soon planning to make the API limitl

[2018-11-18 14:12] martin-martin commented on #18
Hei @meetDeveloper - so that means you are not going across Google requests anymore?

[2018-11-18 15:09] meetDeveloper commented on #18
@martin-martin I am not directly using their API, rather I am scrapping their results, their API has limitations, also about the problem, Yes I have implemented the workaround for that issue, and one can use API client side also.

Oxford Dictionary API provides many details that are too much for a person who is implementing an personal project, my API provides the data in much simpler way so that

[2018-11-18 15:38] martin-martin commented on #18
Sure, that makes sense. However I would suggest to then change the name to
reflect that it's now about the Oxford dict API.
I've heard that Google uses _partly_ Oxford's API, but I think they have
other sources and data as well.

On Sun, Nov 18, 2018, 16:09 meetDeveloper <notifications@github.com wrote:

[2018-11-18 15:40] meetDeveloper commented on #18
@martin-martin They actually use the oxford dictionary data for english language. Actually I am thinking to change the name to unofficial Google Dictionary API, is that ok??

[2018-11-19 09:10] MatteoAvalle commented on #18
Watch out! Oxford APIs are indeed free under a certain call volume, but you have to contact them directly and explicitly get an authorization, if you cache the results (which is more or less what you are doing right now I guess).

Anyway, yes that DID answer my query, thank you very much :) Differently from google, Oxford has clear licensing terms I can give to my legal guys to make them feel safe

[2018-11-19 10:37] meetDeveloper commented on #18
@MatteoAvalle So are you going to use this API in your website?? And should I go with the give me the api key and I will send it to Oxford method to increase call volumes??

[2018-11-19 10:54] MatteoAvalle commented on #18
I'm not sure, I'm sorry :( I will have to discuss it with my team, but we were unsure whether to use your solution OR Oxford APIs, directly... so knowing that the source is the same might lead us more towards going directly there, but I'll let you know :) integrating your API is still faster, so there are still reasons to use yours.

[2018-11-19 10:59] meetDeveloper commented on #18
@MatteoAvalle You can take Key from them and pass it to my api, that way I could use that and get data and present it in the way I present it now, it would be easier to integrate that way. If you want that?

[2018-11-19 15:04] abhagsain commented on #19
404 Not Found: Requested route ('googledictionaryapi.eu-gb.mybluemix.net') does not exist.
Is being shown even for English words.
BTW.  Thank you so much for this. ^_^

[2018-11-19 15:05] abhagsain commented on #19
404 Not Found: Requested route ('googledictionaryapi.eu-gb.mybluemix.net') does not exist.
Is being shown even for English words.
BTW. Thank you so much for this API. ^_^

[2018-11-19 15:55] meetDeveloper commented on #19
@abhagsain Sorry, it is running now, it got into some problem. Also is there feature you wish to see??

[2018-11-20 11:46] meetDeveloper opened #20 "API is crashing sometime"
The API is crashing sometime, I am trying to find the solution and will fix it today itself, sorry for inconvenience.

If website crashes for you, you can use dictionaryapi.herokuapp.com, for time being.

Thank You for your patience.

[2018-11-20 11:57] abhagsain commented on #19
@meetDeveloper Yes. It's working now. Thanks.
If you can limit the number of synonyms for a given word, 3-4 are sufficient. I think!? Of course, someone can fetch more if they want to! I felt the need for this feature yesterday :P
If it's easy. Please add it ^_^

[2018-11-20 12:01] meetDeveloper commented on #19
@abhagsain API is crashing sometime, as it is facing some issue, I am correcting that issue, and service will be restored shortly.

[2018-11-20 21:09] meetDeveloper commented on #18
@martin-martin There?? Actually everything was same, as google takes from oxford for english language, I compared all results and they are exactly same, so that is why I did not changed the name, as they only use oxford API, only thing is instead of taking from them, I am taking from where they take from, am i thinking right??

[2018-11-20 21:15] martin-martin commented on #18
I understand. There's more information that Google provides (word usage,
etymology etc.) But you weren't pulling that data before.
I don't know, to me it feels better to name it Oxford Dictionary API, but I
understand it will be more attractive and easier to find if called Google
Dictionary API.

On Tue, Nov 20, 2018, 22:09 meetDeveloper <notifications@github.com wrote:

[2018-11-20 21:20] meetDeveloper commented on #18
@martin-martin Actually Oxford also provides all those information exactly what all google provides, I was not taking it before, so I left it now in this version also, as I wanted to make an simple API for users, although I have included multiple definitions and I will enable it by another parameter 'multidefintion=true' . To not break all the app that are currently using this version.

[2018-11-20 21:20] meetDeveloper commented on #18
@martin-martin https://en.wikipedia.org/wiki/Google_Dictionary#Languages

[2018-11-20 21:56] martin-martin commented on #18
Yeah I mean sounds legit. You do what you think is best!
.

On Tue, Nov 20, 2018 at 10:20 PM meetDeveloper <notifications@github.com>
wrote:

[2018-11-24 13:01] sergiuiacob1 commented on #19
Hello. The api currently works only for English. Any ETA on when it could be available for other languages as well? Thanks!

[2018-11-24 13:31] meetDeveloper commented on #19
Which language do you want to have?

On Nov 24, 2018 6:31 PM, "Sergiu Iacob" <notifications@github.com> wrote:

[2018-11-24 13:53] sergiuiacob1 commented on #19
Well, I'm currently developing a multi-lingual dictionary, so... all of them, haha :D. A week or two ago I tested your API and it had multiple languages, like French, Spanish, Italian, German and so on. I also need Romanian, but I'll use a different API for that one.

[2018-11-27 14:24] meetDeveloper opened #21 "API also hosted on google cloud"
I have opened API on google cloud also. To have redundancy, you all can in your code put this url https://mydictionaryapi.appspot.com/ too, and send half request to this url, so that load is evenly distributed.

If you get into any problem kindly put it in comment.

[2018-12-06 19:21] StanNL opened #24 "CORS"
The website does not support cross-origin resource sharing (CORS). I'm not an expert in terms of back-end web development, but I feel like this should be easy to fix server-sided, right? Whenever I send an API request via AJAX in Javascript, I get the following error:
![image](https://user-images.githubusercontent.com/43415012/49606641-32597680-f994-11e8-8eef-09b978b164a9.png)

I must say though t

[2018-12-07 05:09] meetDeveloper commented on #24
@StanNL Thanks, It is because of people like you I enjoy my work on this API.
Regarding problem, I did support CORS long back itself, I will check why did it replied like this, but website support CORS long back.

[2018-12-07 05:14] meetDeveloper commented on #24
I checked it and it seems to be working for me, Can you step wise tell what did you do??

[2018-12-07 08:10] StanvBaarsen commented on #24
-- deleted --

[2018-12-07 08:10] #24 closed

[2018-12-07 08:12] meetDeveloper commented on #24
@StanNL No Problem, If you want me to add any new features in dictionary. Feel free to tell me. May I ask how are you using this API?

[2018-12-07 08:19] StanvBaarsen commented on #24
-- deleted --

[2018-12-07 09:35] meetDeveloper commented on #24
@StanNL I have to click search and then it leads me to oxford page. It isn't showing meaning there itself.

[2018-12-07 09:36] StanvBaarsen commented on #24
-- deleted --

[2018-12-07 10:04] meetDeveloper commented on #5
@ScottEnock I am really really sorry for so long delay, it has been so so long, I have implemented multiple definitions now, Thanks a lot for my first user of the API, I am sorry for the delay, life caught me. In case you have anything else just comment, I will this time make sure to add it right away. Thanks a lot for supporting the API since the start.

[2018-12-07 10:05] meetDeveloper commented on #5
@martin-martin I added multiple definition feature. I am sorry for the delay, I was caught up in various things, I have implemented the feature if you find anything buggy, feel free to comment and I will correct it.

[2018-12-07 10:12] meetDeveloper opened #25 "Multiple definition support for languages other than english."
I have finally added multiple definitions feature. If you google suppose _define set_, it will give you many definitions, I till now only used the first definition it provided, but now instead of first I show every definition. Thanks to @ScottEnock for suggesting the feature  #5 and @martin-martin  and @roaugusto for giving me motivation to do it finally #23 . I apologise for implementing it so la

[2018-12-07 10:19] meetDeveloper commented on #19
@abhagsain @sergiuiacob1  I have changed the API a little kindly see the latest post.

[2018-12-07 10:20] meetDeveloper commented on #13
@ojoven   I have changed the API a little kindly see the latest post.

[2018-12-07 10:21] meetDeveloper commented on #17
@yucongo I have changed the API a little kindly see the latest post.

[2018-12-07 10:22] meetDeveloper commented on #6
@tomslloyd  I have changed the API a little kindly see the latest post.

[2018-12-07 10:39] StanvBaarsen commented on #24
-- deleted --

[2018-12-07 10:46] ScottEnock commented on #5
@meetDeveloper Thanks for implementing this feature! No worries about the delay, I completely understand life gets in the way. I'm really happy using your API and proud to have been the first supporter.

The only feature I can think that would be nice to have is when the Google ReCapture bot detection is triggered that the API responds with a status code, maybe the "424 Failed Dependency" code. Ot

[2018-12-07 11:34] meetDeveloper commented on #5
@ScottEnock Thanks for your words. I also had that in mind, the Google ReCapture bot thing, I will implement it soon. May I ask how are you using this API?

[2018-12-07 14:16] deepsworld opened #26 "502 Bad Gateway"
The API is down right now. Can you please fix it, we need it for our school project.

[2018-12-07 14:50] meetDeveloper commented on #26
@deepsworld I will correct it very shortly. Meanwhile you can use https://mydictionaryapi.appspot.com/. Tell me if this works for you. Sorry for the inconvenience.

[2018-12-07 14:52] meetDeveloper opened #27 "Please use https://mydictionaryapi.appspot.com/ for time being."
The other end-point for API is currently facing some issues, and I currently have less time to correct it. I will correct it in next 4-5 hours, so for meanwhile use this https://mydictionaryapi.appspot.com/ for accessing API. Sorry for inconvenience.

[2018-12-07 15:04] deepsworld commented on #26
It works, thank you much.

[2018-12-07 15:40] StanvBaarsen commented on #24
-- deleted --

[2018-12-07 16:14] StanvBaarsen commented on #24
-- deleted --

[2018-12-09 12:10] meetDeveloper commented on #26
@deepsworld Original Site is up and working. Thanks for your patience, May I ask how were you using the API for your school project.

[2018-12-09 12:10] #26 closed

[2018-12-09 13:02] meetDeveloper opened #28 "Original SITE is up and running. Sorry for inconvenience."

[2018-12-09 13:02] meetDeveloper commented on #27
Corrected Original Site.

[2018-12-09 13:02] #27 closed

[2018-12-09 13:50] deepsworld commented on #26
We making an Android dictionary app.

[2018-12-09 15:49] meetDeveloper commented on #26
@deepsworld Do you need anymore feature in the API?

[2018-12-09 15:50] meetDeveloper commented on #5
Thanks @ScottEnock for suggesting the feature. Feature Implemented Successfully.

[2018-12-09 15:50] #5 closed

[2018-12-09 16:02] ScottEnock commented on #5
@meetDeveloper It's my pleasure! I created a web app called Book Companion that lets you save words you come across when reading so that you can later revise them, here's a link to it: bookcompanionapp.com.

[2018-12-09 16:39] ScottEnock commented on #5
Yep! On the backend, If there's no word stored in the database it'll do a search using the API to try and find it.

[2018-12-09 17:57] deepsworld commented on #26
We just needed an easy to use API. But thank you for your help and work.

On Sun, Dec 9, 2018, 10:49 AM meetDeveloper <notifications@github.com>
wrote:

[2018-12-09 18:57] meetDeveloper commented on #5
@ScottEnock Oh, That is great, when are you releasing the APP?

[2018-12-19 00:17] tomslloyd commented on #6
@meetDeveloper i noticed that you switched to Oxford Dictionary Searcher, should probable change the name of this repo otherwise might confuse users.

on another hand after review of the Oxford Dictionary API i started looking into there API and have made progress on making an Oxford API PHP Lib to handle all there API calls and params to get results, i may end up attaching this to my project as t

[2018-12-21 08:22] tomslloyd commented on #6
When I say API I mean my own API not the Oxford API .. and mainly due to me actually owning the whole server .. I can alter the request limits.

My plan is to store the info retrieved from Oxford API allowing me to reduce the number of calls to the oxford API. .

[2018-12-21 11:18] tomslloyd commented on #6
I did think about it, but I have a lot more being stored than just the words and definitions. So it makes more sense to do this on my end. Functionality wise I need it to do a lot more than just get definitions so it's better for me to use my own API access to control the data flow and output for what I need. it did seem a bit redundant to call your API that calls another API just to get the same

[2018-12-21 11:39] meetDeveloper commented on #6
@tomslloyd Oh, Actually I do not call another API, instead just scrap the results of the Oxford page with identical completely identical definitions like google. Because google also sources data from the Oxford Dictionary. I stopped using google as source, because they contacted me and asked me to change source, that is why I shifted to Oxford. I did not used the Oxford API, as it had limits, so i

[2018-12-22 03:16] tomslloyd commented on #6
it time Oxford will ask you to get an API key as it is a break of there terms of use. when it comes to that i have a PHP class for handling there API ill put it up and you can use that.

But for now i need everything like sentences, sound file link, all text about each word, synonyms, antonyms, origin, alternate know as words. everything the old one use to do that you pulled when i wrote a patch t

[2018-12-22 03:18] tomslloyd commented on #6
you should look into the full amount of data you can get from their API they only show a small amount compared to if you used there API you could offer them way more.

[2018-12-22 04:45] meetDeveloper commented on #6
@tomslloyd It works for still also, see again.

[2018-12-24 04:04] tomslloyd commented on #6
this is the data return from `still` from the oxford API , its a lot more than what yours shows, if you get an api key use a database to store this json then reserve if called. it would be better for you and still has language support you just set up language tables as  well.
[code]

[2018-12-24 06:38] meetDeveloper commented on #6
I meant I get two definitions for still which is what Oxford Shows.

[2019-02-10 03:04] meetDeveloper opened #29 "Can you all list features that you all want to have in this api?"
If you wish to have some feature in API, can you please this them all here. Then it would be easy for me to track them. I will implement them as soon as I can.

Also if you would like to contribute to the API it would be very beneficial for us all.

[2019-02-10 03:08] meetDeveloper commented on #6
@tomslloyd How is everything going?

[2019-02-12 13:12] alextenev commented on #29
Hi!

Thanks for the API.

Could you please add the audio file links? The ones that pronounce the word.

e.g https://ssl.gstatic.com/dictionary/static/sounds/20180430/hello--_gb_1.mp3

[2019-02-12 18:03] meetDeveloper commented on #29
@alextenev Ok will do so.

[2019-02-21 14:33] djmbritt commented on #12
I've been experiencing some issues with other languages.
When I query certain words in spanish or french it returms 404 for some words.
The french example is not working properly for example.

[2019-02-22 04:05] meetDeveloper commented on #12
Multiple languages had issues, I have fixed it now, kindly check and let me
know.

On Thu, Feb 21, 2019 at 8:03 PM David Britt <notifications@github.com>
wrote:

[2019-02-22 04:09] meetDeveloper opened #30 "I have fixed multiple languages issue, sorry for the long delay. (working only for https://googledictionaryapi.eu-gb.mybluemix.net/)"
I have fixed multiple languages, and it is working again. Though for time being multiple definitions will cease to work, I will add them again in weekend.

If you were using that, kindly use the other URL https://mydictionaryapi.appspot.com/.  I will fix the issue for https://googledictionaryapi.eu-gb.mybluemix.net/, in weekend and then there will be consistency across all.

[2019-02-23 17:13] djmbritt commented on #12
Yes, it's working properly.
Thank you!

[2019-02-24 04:26] krv5vignesh commented on #30
Will https://mydictionaryapi.appspot.com/ work continuously or should we change it back in the future?

[2019-02-24 12:50] meetDeveloper commented on #30
It will work continuosly...

On Sun, Feb 24, 2019, 9:56 AM krv5vignesh <notifications@github.com> wrote:

[2019-03-04 08:05] kovinet commented on #13
Hey
I need word definitions for larger amount, so I wanted to host app myself, but at current source code all request go to ```var url = 'https://en.oxforddictionaries.com/search?filter=noad&query=' + req.query.define;``` and there is no language support at all (I need Turkish)...
I guess you have different code deployed on https://googledictionaryapi.eu-gb.mybluemix.net as the one in master branc

[2019-03-04 12:01] kovinet opened #31 "API failing with non English characters"
For Turkish language, a request for a word which has one of the non standard characters, such as: Ş, Ç, I, Ü, Ğ, Ö returns an error.

For example the word "kuş": request to /?define=kuş&lang=tr returns 404 error, but Google search for "kus nedir" produces normal results. Same for other word for Turkish with characters not present in English alphabet.

[2019-03-05 06:48] kovinet commented on #10
About image... what you could do maybe is doing google image search with keyword provided and get the first image result? I have tried some searches and usually first image is relevant even for verbs, adjectives, etc ...

[2019-03-05 07:30] kovinet commented on #31
Hi. I am also noticing unpredictable results for some words, for example "abla" for Turkish language.

Requesting like this (there is no special chars in this word):
https://googledictionaryapi.eu-gb.mybluemix.net/?define=abla&lang=tr

in most cases I get 404 response, but in some cases it works correctly (JSON definition). It's like 90% of times it doesn't work but 10% of tries for same word it w

[2019-03-06 05:25] MuVen commented on #30
Have you changed JSON response ?

Earlier I requested for JSONArray it use to work, the same code fails now.

And you can also see difference in the response given by two API'S given by you. Can you make it as earlier and streamline these two APIs for better consistency

[2019-03-06 11:10] meetDeveloper commented on #30
@MuVen I am making it more consistent  now, Sorry for the inconvenience.

[2019-03-06 11:15] MuVen commented on #30
When can we expect a fix for this ?

[2019-03-06 11:15] meetDeveloper commented on #30
@MuVen Today.

[2019-03-06 11:17] MuVen commented on #30
Is there any plan to change the existing API/Response in future ? Because based on this API im planning to build an application.

[2019-03-06 11:18] meetDeveloper commented on #30
@MuVen Expect it to be same as earlier, you will only use english?

[2019-03-06 11:19] MuVen commented on #30
for now im using english, planing to scale for other languages as well

[2019-03-06 11:20] meetDeveloper commented on #30
@MuVen Oh, expect the english one to be same, I am fixing it today itself, for other I will fix in 2-3 days.

[2019-03-06 11:21] MuVen commented on #30
Okay !!!

On Wed, 6 Mar 2019, 16:50 meetDeveloper, <notifications@github.com> wrote:

[2019-03-06 11:21] meetDeveloper commented on #30
@MuVen 👍

[2019-03-06 12:32] meetDeveloper commented on #13
@kovinet I will give you the deployed code.

[2019-03-06 12:47] meetDeveloper commented on #30
@MuVen I have fixed kindly see.

[2019-03-06 12:47] meetDeveloper commented on #29
@alextenev I have added the feature, sorry for delay.

[2019-03-06 12:47] meetDeveloper commented on #29
@alextenev Can you confirm it is what you asked for?

[2019-03-06 12:48] meetDeveloper commented on #30
@krv5vignesh You can shift to  https://googledictionaryapi.eu-gb.mybluemix.net/, I have now made both endpoint consistent, when you search for english words,

[2019-03-06 12:51] kovinet commented on #13
@meetDeveloper thank you!

[2019-03-06 12:54] meetDeveloper commented on #31
@kovinet I am looking into it, most probably, when you search on google 'define abla' or 'define kuş', it sometime gives and sometimes do not give result, maybe I have to change define to nedir. I will fix it today, sorry for late reply, life caught me in other works.

[2019-03-06 13:10] kovinet commented on #31
@meetDeveloper yes, for Turkish you should replace 'define' with 'nedir' for Google query, which means define in Turskih. In this way results are more predictable. I would fix it myself and create a Pull Request but the code in repo is not the latest as I see...

[2019-03-06 13:32] MuVen commented on #30
Working !!!

On Wed, 6 Mar 2019, 18:18 meetDeveloper, <notifications@github.com> wrote:

[2019-03-06 17:16] meetDeveloper commented on #10
@kovinet Let me try that.

[2019-03-08 07:47] kovinet commented on #13
@meetDeveloper when could you share deployed code? I would like to contribute with improvements to make Turkish language support better... Thanks.

[2019-03-11 09:01] kovinet commented on #31
@meetDeveloper did you maybe manage to fix it for Turkish language by  replacing define with 'nedir'?
As mentioned before, I have looked into source code but there it looks like you are fetching results from Oxford dictionary (not from Google), so I guess you have different code deployed on server for other languages? Could you share that code also?

[2019-03-11 13:07] meetDeveloper commented on #31
@kovinet Sorry for the delay, I got stuck in life, I have fixed the bug.

[2019-03-11 13:11] meetDeveloper commented on #31
What was happening with `kuş` was the `ş` is special character, and when url is encoded it gets some code like `%C5%9F`, now I did not allowed any special character earlier, by returning if `%` is detected after encoding url, I wanted this check for not allowing spaces between words, as google as far as I know does not support them anyway, and hitting google for words that have spaces between them

[2019-03-11 17:18] simpleshadow opened #32 "Poor JSON response structure"
Really dig what you've done @meetDeveloper! Was not aware that Google is using Oxford Dictionaries behind the scenes.

While I really dig the API, the current structure of the API responses makes it very unusable (at least in my JavaScript web-based client). Having values as keys is non-standard and iterating over them is a nightmare. For example, the `meaning` property should be an array and cont

[2019-03-12 12:54] meetDeveloper commented on #31
@kovinet Is it ok?

[2019-03-12 13:05] kovinet commented on #31
@meetDeveloper yes, I have tested with couple of Turkish words and it is working now!

[2019-03-15 13:11] kovinet commented on #31
Hi again. There is one more issue I have regarding spaces in words. There are some words in Turskih which are only meaningful in pair like 'abur cubur', etc. There are thousands of words like this, and if you google for "abur cubur nedir" it gives you definition like it was a single word. But your API ignores words with spaces as you have implemented. Could you make an exception and allow 1 space?

[2019-03-15 13:19] kovinet commented on #25
I have tested multiple definitions for Turkish language and they don't seem to work.

For example word 'ay', on Google the result is following:

![image](https://user-images.githubusercontent.com/707846/54433776-b5c9f700-473d-11e9-8174-0356129162f1.png)

but API returns only the first definition:

[code]

Are multiple definitions supported only for English?

[2019-03-16 05:28] meetDeveloper commented on #32
@simpleshadow I will look into this, this is my first API, so I did not knew about such things, I will look into it, and I will make changes, because this would be a breaking change, probably, I will ask you to pass version in query param, and based on version show either this structure or old one.

[2019-03-16 05:30] meetDeveloper commented on #25
@kovinet You got it right, I have implemented that for english only currently, will update for other languages soon.

[2019-03-16 16:31] kovinet commented on #32
Proposed JSON structure really is more logical, in Turkish, for example, I get 'ünlem' as key in json sometimes and it is not practical to have to iterate trough to be able to access values instead of accessing directly by a known and fixed key.
But as you proposed, it would be nice if current version would keep same structure and the new one would be only for new version of API because it is brea

[2019-04-07 16:18] ghlai9665 opened #33 "Support for Chinese"
Queries for Chinese words don't seem to be working. Definitions not found.

[2019-04-08 18:33] meetDeveloper commented on #33
@ghlai9665 Can you send me words for which it is not working?

[2019-04-08 18:35] meetDeveloper commented on #10
Not proper place, will separate new feature request.

[2019-04-08 18:35] #10 closed

[2019-04-08 18:36] meetDeveloper commented on #11
@martin-martin Thanks for all your work, also the API is now taking from google and as well as oxford, if you have some feature to suggest, I will be more than happy to implement it. Closing this issue, moving feature request out of issues.

[2019-04-08 18:36] #11 closed

[2019-04-08 18:36] #12 closed

[2019-04-08 18:37] meetDeveloper commented on #13
@kovinet Will give you deployed code, after I add support for multiple definition for languages other than english and better json structure, I will then update github to reflect new code, closing this issue, will move feature request out of issues.

[2019-04-08 18:37] #13 closed

[2019-04-08 18:38] #18 closed

[2019-04-08 18:39] meetDeveloper commented on #19
@abhagsain Do y

[2019-04-08 18:39] #21 closed

[2019-04-08 18:40] meetDeveloper commented on #31
@kovinet Is this issue resolved?

[2019-04-08 18:40] meetDeveloper commented on #31
@kovinet Sorry for the extreme delay, it slipped out of my mind.

[2019-04-08 18:40] #28 closed

[2019-04-08 18:40] #30 closed

[2019-04-08 18:41] meetDeveloper commented on #30
@MuVen Is everything working correctly now?

[2019-04-08 18:42] #29 closed

[2019-04-08 18:42] meetDeveloper commented on #29
@alextenev Sorry for the delay in response, I have added the feature you request a month back, waiting for your reply.

[2019-04-21 15:09] TheMode commented on #25
Waiting for multi-language support :)

[2019-04-22 03:54] meetDeveloper commented on #25
@TheMode Life is getting me, some work load, will surely get this done in upcoming weekend.

[2019-05-09 02:50] rrbadam opened #34 "Language of origion"
Hi Suraj Jain,

I love the api provided by you to learn about words. Can this api be extended to provide etymology (languageOfOrigin).

You can either show full graph in transformed text if possible. If not possible, just the text also would be fine ("early 17th century: from French, from Provençal acolada, literally ‘embrace around the neck (when bestowing knighthood)’, from Latin ad- ‘at, to’ +

[2019-05-20 13:35] meetDeveloper commented on #19
Have you checked now?

On Sat, Nov 24, 2018 at 7:23 PM Sergiu Iacob <notifications@github.com>
wrote:

[2019-05-25 07:06] meetDeveloper commented on #31
@kovinet So no turkish word can have more than one space?

[2019-05-25 07:17] kovinet commented on #31
I think there are some examples where 3 words for a "word", so there are 2
spaces, but this can be ignored. There are quite a lot with one space
though... For example "afiyet olsun", etc.

On Sat, 25 May 2019 at 10:06, meetDeveloper <notifications@github.com>
wrote:

[2019-05-25 08:18] meetDeveloper commented on #31
@kovinet I removed all together space check for turkish word, google will anyway return no meaning if word is wrong, and most people use API for english for which the check is still present.

[2019-05-25 14:39] meetDeveloper commented on #34
@rrbadam I have just implemented it, can you confirm. I have added the just the text, full graph in transformed text will make the query too slow. And make it unnecessary complicated, all the important information is available in the text.

[2019-05-25 14:40] meetDeveloper commented on #34
@rrbadam Sorry for the delay, life caught me, also I have checked the words you told were having different DOM structure.

[2019-05-25 14:46] meetDeveloper commented on #31
@kovinet Can you confirm if it is working for your need?

[2019-05-28 03:02] #34 closed

[2019-05-28 03:02] meetDeveloper commented on #31
@kovinet Can you confirm?

[2019-05-28 03:03] meetDeveloper commented on #19
Issue resolved, no change needed for synonym work, have to show all synonyms at once.

[2019-05-28 03:03] #19 closed

[2019-05-28 03:05] meetDeveloper commented on #6
@tomslloyd I have added origin also.

[2019-05-28 05:41] kovinet commented on #31
It is working fine now.  Thank you @meetDeveloper

[2019-06-02 03:22] #31 closed

[2019-06-09 06:57] meetDeveloper opened #35 "Reacher 100 stargazers."
Thank you all, I had never even thought that something that I build will reach 100 stargazers, I want to thanks you all from bottom of my heart, without your support and continuous ask for new features, I would not have thought of endless possibilities with this project, Thank you once again.

Notable Mentions:
@veganexe
@ScottEnock
@martin-martin
@tomslloyd
@kovinet

[2019-06-13 12:37] hrai opened #36 "Synonyms are missing"
I build my app on the synonyms that this API used to return but now it doesn't which is rendering my app useless.

How easy is it to find what's happened?

[2019-06-13 15:20] meetDeveloper commented on #36
@hrai Can you tell me which words it is not returning synonyms for?

[2019-06-13 22:54] hrai commented on #36
Almost all the words.

Here's an example.

[Good](https://googledictionaryapi.eu-gb.mybluemix.net/?define=good)

This is what I get back.

![Screenshot from 2019-06-14 08-53-52](https://user-images.githubusercontent.com/4055444/59472508-0a3a5b00-8e82-11e9-9a17-c5f3e144eb19.png)

[2019-06-14 00:50] meetDeveloper commented on #36
Can you tell me the word for which  synonym is coming ?

On Fri, Jun 14, 2019, 4:24 AM hrai <notifications@github.com> wrote:

[2019-06-14 00:56] hrai commented on #36
It isn't for any word that I've tried so far. I'm not sure when this
stopped working but I only noticed it yesterday when I was doing some
cleanup.

On 14 Jun. 2019 at 10:50 am, <meetDeveloper <notifications@github.com>>
wrote:

Can you tell me the word for which synonym is coming ?

On Fri, Jun 14, 2019, 4:24 AM hrai <notifications@github.com> wrote:

https://user-images.githubusercontent.com/405

[2019-06-16 12:24] hrai commented on #36
I've found a peculiar behaviour.

If I give the `lang` param value to to `fr`, I get the synonyms list.

[2019-06-16 17:38] meetDeveloper commented on #36
I will fix it by day after tomorrow, I Know why it is not working.

On Sun, Jun 16, 2019, 5:54 PM hrai <notifications@github.com> wrote:

[2019-06-17 16:05] krv5vignesh opened #37 "https://mydictionaryapi.appspot.com link is not working"
https://mydictionaryapi.appspot.com - This link is not working and does not return definition for any of the words. The https://googledictionaryapi.eu-gb.mybluemix.net link works though.

[2019-06-18 11:52] hrai commented on #36
I cloned the project and ran some tests and here's what I found.

The url being called by the app is: `https://en.oxforddictionaries.com/search?filter=noad&query=good` when I search for the word `good`.

This is the response I get back - `good is not present in Dictionary.`

Looks like the repo is not up-to-date?

[2019-06-18 11:52] hrai commented on #37
I think the codebase is not up-to-date.

https://github.com/meetDeveloper/googleDictionaryAPI/issues/36#issuecomment-503070779

[2019-06-18 17:33] meetDeveloper commented on #36
@hrai Actually yes I have not yet updated the codebase here, I thought once I refactor the code, then will update the repo, I know why synonyms are not working, I will fix it by tomorrow for sure.

[2019-06-18 17:35] meetDeveloper commented on #37
Yes code-base is not up to date, do you need that endpoint? I will update it once I make sure the structure is what I want it to have, this weekend will take up the issues and finish refactoring the code.

You guys can list all features that you want, and will make a separate issue for each feature, it helps to track it,

[2019-06-18 17:36] meetDeveloper commented on #37
@krv5vignesh I was wondering I have seen this username somewhere, then I went to your profile, then I remembered the dictionary extension you made, nice work.

[2019-06-18 17:37] meetDeveloper commented on #37
@krv5vignesh I also made one

[2019-06-19 09:25] CR-97 commented on #33
The API Link :https://googledictionaryapi.eu-gb.mybluemix.net/?define=bird&lang=zh-CN
![image](https://user-images.githubusercontent.com/30256135/59753573-feea9380-92b6-11e9-8899-553cdc83f8be.png)

I also facing this issue, when i search run for Chinese language. It return me the meaning in English not in Chinese

[2019-06-19 12:54] drveresh opened #38 "Extension is broken"
The chrome extension isn't working, always showing "Please Wait...".

[2019-06-20 19:52] harrisuddin commented on #36
I found another strange workaround to get synonyms to appear by adding a ']' to the end of the URL. For example, when I searched the word "keep" with the URL https://googledictionaryapi.eu-gb.mybluemix.net/?define=keep&lang=en, I got
<img width="440" alt="keep" src="https://user-images.githubusercontent.com/39956028/59877094-04220e00-939d-11e9-89ed-fbc649748c32.PNG">
But when I entered the URL htt

[2019-06-22 15:57] meetDeveloper commented on #36
@harrisuddin  I know why this is happening, it is searching google for that word, and then giving result, for English I get result from another source, and for any other language google is considered, so when you have that extra `]`, it shifts to google and try, I never thought this would happen, it is so amazing.

[2019-06-22 19:03] meetDeveloper commented on #36
@hrai I fixed it, sorry for the delay, can you confirm it?

[2019-06-22 19:05] meetDeveloper commented on #38
@drveresh I just checked it is working in my system, can you uninstall and try again, on which system are you?

[2019-06-22 19:06] meetDeveloper commented on #33
@CR-97 @ghlai9665 It depend on google, as I am using their result, my experiment shows that for it to show meaning in chinese the word should be in chinese as well, kindly search for a chinese word, and tell if that is working.

[2019-06-22 19:31] meetDeveloper commented on #37
@krv5vignesh I have fixed this can you check.

[2019-06-23 01:01] hrai commented on #36
Yeah looks like it's resolved

[2019-06-23 01:01] #36 closed

[2019-06-23 08:50] drveresh commented on #38
@meetDeveloper, I tried it on my Mac Pro with latest Chrome version 75.0.  Let me try again and confirm.

[2019-06-23 10:14] meetDeveloper commented on #38
@drveresh Did you tried again, uninstalling and reinstalling it?

[2019-06-23 17:22] drveresh commented on #38
@meetDeveloper, yeah I tried, but the same issue, see the screenshot - http://prntscr.com/o5mvdz.  The first request is fine (200), but no response and the next subsequent requests are either 200 or redirecting to another Google URL, see this http://prntscr.com/o5my3f.

Let me know if any fix around this issue.

Also, can I see its Chrome extension code? If so I can help trouble the issue.

[2019-06-23 17:29] drveresh commented on #38
@meetDeveloper, I guess, this is also an issue when no response, see - http://prntscr.com/o5n1gj.

[2019-06-25 05:24] meetDeveloper commented on #38
@drveresh You can go to installed extension folder, https://stackoverflow.com/questions/17377337/where-to-find-extensions-installed-folder-for-google-chrome-on-mac, and see the code, I will try to correct this today or by tomorrow.

[2019-07-20 04:52] #37 closed

[2019-07-20 18:41] Niweera opened #39 "Please add a license so this project can be used in my project."
I am developing an application related words and their definitions. I need to use this API with few modifications in my project. Can you please add a license so that I can use it in my project? (I hope it will be an open source license.)

[2019-07-24 05:41] meetDeveloper commented on #39
@Niweera done, may I ask what are you using this API for?

[2019-07-24 05:41] #39 closed

[2019-08-08 05:56] meetDeveloper commented on #38
@arjunsingh-pm Yo!

[2019-08-08 17:38] Niweera commented on #39
I am developing a micro-services app for finding words when given letters. Find the repo @ https://github.com/Niweera/wordhunter

[2019-08-09 04:06] meetDeveloper commented on #39
@meetDeveloper Can you kindly fork this api, and then modify it for your dictionary api.

[2019-08-10 18:34] Niweera opened #40 "Empty objects are returned when provided certain words."
For example 'Zinc'

[code]

For example 'Women'

[code]

For example 'Men'

[code]

I reviewed your code and found out that there is an issue with the code in line 205 to 207 in `app.js`.

[code]
I suggest you to check the `crossReference` class again in the `Lexico.com` site and refactor the code.

Best regards.

[2019-08-11 15:25] StevenLi-DS commented on #40
I think their API was also designed to just accept headwords only.

https://developer.oxforddictionaries.com/documentation

[2019-08-11 16:31] meetDeveloper commented on #40
@StevenLi-DS I have a way around that, and use that to convert all words like pixels to pixel, so that is not the problem. I know what is happening, will push a fix soon.

[2019-08-11 16:35] Niweera commented on #40
Marvelous. Actually this is where I am stuck at my project. I found a temporary solution for this. But I am eagerly waiting for your solution. Thanks in advance...

[2019-08-11 17:45] StevenLi-DS commented on #40
@meetDeveloper that would be great, but will the API just return the meaning of "man" or including "the plural form of man" as well when passing "men"

[2019-08-13 00:02] StevenLi-DS opened #41 "word connotation missing"
Hi, buddy.

It seems like the word connotation (e.g., derogatory) is missing.

[code]
[code]
![image](https://user-images.githubusercontent.com/33796896/62905989-d45b0b00-bd3a-11e9-91ac-58c98ba01ee9.png)

I checked Oxford Dictionary API and they seems to store the data as `registers`
[code]

Hopefully, you could find a way to add it. Btw, really like your work!!!

[2019-08-13 02:27] Niweera commented on #40
I think there is a possibility to follow the hyperlink such as in the following example.
`https://www.google.com/search?q=define+men`
then follow the link as;
`https://www.google.com/search?q=define+men#dobs=man`

[2019-08-22 04:28] meetDeveloper commented on #41
@StevenLi-DS I will fix this this weekend.

[2019-08-28 06:53] DharmeshO7 opened #42 "Dictionary URL not wroking"
https://googledictionaryapi.eu-gb.mybluemix.net/?define=dog&lang=en

No response coming for any word.

[2019-08-28 19:35] meetDeveloper commented on #42
I will fix it by tomorrow.

[2019-08-29 10:21] #42 closed

[2019-09-20 09:09] Farhad098 opened #43 "Phonetic critical problem"
Hi
There is an issue with phonetic extraction, which I consider it as critical. The pronunciation of a word may differ in its many usages, but the API returns only one pronunciation for a word. For example word "use", it has two pronunciations: /ju:z/ as a verb and /ju:s/ as a noun, but the API returns only /ju:z/.
Thanks

[2019-09-22 20:05] davwheat commented on #41
But ya didn't!

[2019-09-22 21:50] StevenLi-DS commented on #41
@davwheat it's actually a little bit complicated. If you wanna an API returns more details. I would suggest you use Oxford dict API directly.

[2019-09-23 13:56] meetDeveloper commented on #41
@davwheat Doing it right now.

[2019-09-23 15:45] davwheat commented on #41
Yeah, I realise how rude my message sounds now I think about it...

I will say, thank you so much for this API. It's actually so useful as it's the best free dictionary API I can find.

[2019-09-23 19:12] StevenLi-DS commented on #41
@meetDeveloper Hi, man. I dug into it a little bit more after opened this issue. It seems like it could be very complicated especially when a word has many different senses. I kinda like the simplicity of the API now. So feel free to close it if you don't have time to deal with.

[2019-10-13 05:02] pdji1602003 opened #44 "Support for languages other than English stop"
Good morning, sir!

First off, thank you for this amazing service! This API is so useful.
I am incorporating this service to my website; however, I am facing a problem where no JSONs are returned except for English words.
I have tested with multiple languages such as French, German and Chinese, **but so far this API only works when the searched word is in English**. **In other languages, it won't

[2019-10-16 04:12] Oceaneyes123 opened #45 "No Data From Response"
I use axios get method but I didn't saw any data from the JSON response. Please help

`axios.get('https://googledictionaryapi.eu-gb.mybluemix.net?define=apple')
				.then(function(response){
						console.log(response)
}`

[2019-10-18 08:06] meetDeveloper commented on #45
I am fixing this.

[2019-10-18 08:07] meetDeveloper commented on #44
I am fixing this, this will be fixed by tomorrow.

[2019-10-18 08:25] pdji1602003 commented on #44
Got it!
Thank you for informing me! I am looking forward to seeing this great API back in service again!

Best regards,
Lin

[2019-10-18 13:12] emert117 commented on #32
Some of the "meaning" types that I found:

determiner
abbreviation
noun
verb
adjective
preposition
adverb
preposition & adverb
exclamation
predeterminer, determiner, & pronoun
conjunction
crossReference
transitive verb
determiner & pronoun
pronoun
crossReference
auxiliary verb
preposition, conjunction, & adverb
proper noun
cardinal number
modal verb
plural noun
conjunction & adverb
determiner, pro

[2019-10-19 20:18] meetDeveloper commented on #44
@pdji1602003 Can you check it again?

[2019-10-19 20:18] meetDeveloper commented on #45
Can you check it again?

[2019-10-20 01:46] pdji1602003 commented on #44
@meetDeveloper It works now! I've tested it with different languages other than English and each time it returned the desired JSON file! Thank you for your work!

[2019-10-20 07:55] meetDeveloper commented on #25
@kovinet @TheMode Have implemented it, can you see if that is what you wanted?

[2019-10-20 08:04] meetDeveloper commented on #44
@pdji1602003 You are welcome :)

[2019-10-20 08:04] #44 closed

[2019-10-22 08:58] appsapiconsole opened #46 "API Response Issue"
I am using this API for last year. Thanks a lot for this service.
Have you changed response in latest update ?? Because my work not working now.
Please share all possible responses of API.
I shall be very thankful to you.

[2019-10-26 05:51] #46 closed

[2019-10-26 10:08] #25 closed

[2019-10-26 10:11] meetDeveloper commented on #32
@simpleshadow  @kovinet I have implemented version 1 of api to have this structure, currently I have not implemented for english language, for other languages you can access the version by sending v=1 in query params, can you use it and tell me if that is what you were looking to?

[2019-10-26 19:48] evelynluw opened #47 "Cannot get definitions for phrases"
When I use the api to query a phrase, e.g. et cetera, I can't get the definition. But Google Dictionary actually supports phrase lookup:
`
![Screen Shot 2019-10-26 at 12 48 11 PM](https://user-images.githubusercontent.com/23702556/67625149-f10dc780-f7ee-11e9-9cb7-f79271bc95fb.png)

[2019-10-28 14:59] nathanielxd commented on #47
Wrong: https://googledictionaryapi.eu-gb.mybluemix.net/?define=et+cetera&lang=en
Correct: https://googledictionaryapi.eu-gb.mybluemix.net/?define=et_cetera&lang=en

Use **_** instead of spaces or **+**

[2019-10-29 05:40] evelynluw commented on #47
Thanks! That worked.

[2019-10-29 05:41] #47 closed

[2019-11-03 03:10] sks316 opened #48 "Stability issues?"
I'm adding a define command to my Discord bot, [Mewtwo](https://github.com/sks316/mewtwo-bot/), using this API. Unfortunately, after attempting to define a word, the API sometimes stops responding with JSON for some minutes and sends a 404 page instead. This isn't an issue with the bot itself, as this issue is confirmed by opening the page in a web browser. I can't push an unstable command to the

[2019-11-03 06:31] meetDeveloper commented on #48
@sks316 can you tell me the word and the language?

[2019-11-03 07:15] sks316 commented on #48
It happens with pretty much any word, and the language is English.

[2019-11-29 10:36] colinamurgatroyd commented on #48
Hi,
Is there any update on this? I use this in an app and have also noticed that I'm getting 404 responses about 60% of the time. The language is English and does not appear to be specific to any word. The 404 responses appear to be sporadic, so sometimes I get the JSON definition in the response coming back okay and at other times I get a 404 (for the same word). The problem can be reproduced usi

[2019-11-29 12:03] meetDeveloper commented on #48
@colinamurgatroyd Let me check this in this weekend.

[2019-12-22 13:26] meetDeveloper commented on #43
@Farhad098 Will fix this this weekend.

[2019-12-22 13:27] meetDeveloper commented on #48
@colinamurgatroyd I fixed this, can you check.

[2019-12-22 17:15] meetDeveloper opened #49 "Kindly use https://mydictionaryapi.appspot.com/ to access API"
My ibm cloud subscription has run out, so I cannot update that any longer, I will in short while renew the trial, till then please use this url, to access API, as this will always be updated,

[2019-12-26 03:49] sqlpedalianist opened #50 "Support for English (UK)"
It used to be possible to pass `en_GB` and get the definition from Oxford Dictionary of English instead of the American version.  I think that has stopped to work since last week.  I Would be happy if this option is officially supported since this is the default shown worldwide (except North America).

[2020-01-05 08:31] tejeshreddy opened #52 "Finding this API has a high latency"
Taking a lot of time to return a response

[2020-01-05 15:45] meetDeveloper commented on #52
@tejeshreddy Will move to different plan soon.

[2020-01-08 23:47] sks316 opened #54 "https://mydictionaryapi.appspot.com/ not working anymore"
I run a Discord bot that uses this API for dictionary definitions. It began throwing errors about "Attempt to decode JSON with unexpected mimetype", and I looked on the API which is no longer returning any definitions at all. The other URL seems to still work fine, however.

[2020-01-09 06:22] meetDeveloper commented on #54
@sks316 I will check and fix it today.

[2020-01-14 08:53] meetDeveloper commented on #48
@colinamurgatroyd I will soon be updating API with massive changes that will solve this and related issue completely.

[2020-01-14 10:31] colinamurgatroyd commented on #48
Thanks for letting me know. And thanks for the reply you sent just before
Xmas - apologies for not acknowledging that at the time. Will the
changes be backward compatible?

On Tue, 14 Jan 2020 at 08:53, meetDeveloper <notifications@github.com>
wrote:

[2020-01-14 11:07] meetSuraj commented on #48
@colinamurgatroyd Will support earlier version also, but new version will have better structure for easy usage. You can look at this issue for more information  https://github.com/meetDeveloper/googleDictionaryAPI/issues/32

[2020-01-14 12:00] meetDeveloper commented on #48
@colinamurgatroyd Will support earlier version also, but new version will have better structure for easy usage. You can look at this issue for more information #32

[2020-02-07 06:17] SamraMehboob opened #55 "Thanks a lot for great help. But it does not support languages other than English.Kindly fix this issue."

[2020-02-10 05:35] meetDeveloper commented on #55
@SamraMehboob It does support many, you can send the query as `?define=<word>&lang=<langCode>`. You can find the list of supported languages [here](https://googledictionaryapi.eu-gb.mybluemix.net/languageCode.txt.).

Ex: https://googledictionaryapi.eu-gb.mybluemix.net/?define=house&lang=en

[2020-02-14 06:07] Oceaneyes123 commented on #45
Thank you :)

[2020-02-17 20:40] meetDeveloper opened #56 "Hosted API on AWS"
I have hosted API on AWS, Kindly shift to API hosted on https://dictionaryapi.dev.

Way to query API has been changed a little:

Usage : The basic syntax of a URL request to the API is shown below:

https://api.dictionaryapi.dev/api/v1/entries/<--language_code-->/<--word-->

As an example, to get definition of English word hello, you can send request to

https://api.dictionaryapi.dev/api/v1/entrie

[2020-02-18 03:38] meetDeveloper commented on #52
I have hosted API on AWS now, it won't have stability issues now.

This is the homepage. https://dictionaryapi.dev.

Way to query API has been changed a little:

Usage : The basic syntax of a URL request to the API is shown below:

https://api.dictionaryapi.dev/api/v1/entries/<--language_code-->/<--word-->

As an example, to get definition of English word hello, you can send request to

https://ap

[2020-02-18 03:39] meetDeveloper commented on #54
@sks316
I have hosted API on AWS now, it won't have stability issues now.

This is the homepage. https://dictionaryapi.dev.

Way to query API has been changed a little:

Usage : The basic syntax of a URL request to the API is shown below:

https://api.dictionaryapi.dev/api/v1/entries/<--language_code-->/<--word-->

As an example, to get definition of English word hello, you can send request to

ht

[2020-02-18 03:39] meetDeveloper commented on #54
This is lot faster and will be reliable endpoint, kindly shift to this.

[2020-02-18 03:40] meetDeveloper commented on #48
I have hosted API on AWS now, it won't have stability issues now.

This is the homepage. https://dictionaryapi.dev.

Way to query API has been changed a little:

Usage : The basic syntax of a URL request to the API is shown below:

https://api.dictionaryapi.dev/api/v1/entries/<--language_code-->/<--word-->

As an example, to get definition of English word hello, you can send request to

https://ap

[2020-02-18 03:40] #49 closed

[2020-02-18 03:41] meetDeveloper commented on #55
I have hosted API on AWS now, it won't have stability issues now.

This is the homepage. https://dictionaryapi.dev.

Way to query API has been changed a little:

Usage : The basic syntax of a URL request to the API is shown below:

https://api.dictionaryapi.dev/api/v1/entries/<--language_code-->/<--word-->

As an example, to get definition of English word hello, you can send request to

https://ap

[2020-02-18 03:41] #55 closed

[2020-02-18 03:42] meetDeveloper commented on #50
@sqlpedalianist Will fix this, this weekend. Meanwhile I have shifted API to AWS, it won't have stability issues now.

This is the homepage. https://dictionaryapi.dev.

Way to query API has been changed a little:

Usage : The basic syntax of a URL request to the API is shown below:

https://api.dictionaryapi.dev/api/v1/entries/<--language_code-->/<--word-->

As an example, to get definition of Eng

[2020-02-18 04:27] tejeshreddy commented on #52
Thanks @meetDeveloper, that was really helpful.

[2020-02-18 04:34] meetDeveloper commented on #52
Shall I Close the issue?

[2020-02-18 04:36] #33 closed

[2020-02-18 23:37] victorsmseo commented on #56
The phonetic seems to give weird characters

[2020-02-19 12:45] tejeshreddy commented on #52
Yes

[2020-02-20 05:58] meetDeveloper commented on #56
@victorsmseo Can you give example, for which word did you got weird characters?

[2020-02-20 05:58] #52 closed

[2020-02-20 19:30] victorsmseo commented on #56
https://api.dictionaryapi.dev/api/v1/entries/en/hello
It gives "phonetic": "/hÉ™ËˆlÅ/"

[2020-02-21 17:54] meetDeveloper commented on #56
For me it is coming like this, can you hit API with curl and then tell me response.

<img width="657" alt="Screenshot 2020-02-21 at 11 23 31 PM" src="https://user-images.githubusercontent.com/32453612/75058578-4342c900-5501-11ea-9de3-5965f50ae92e.png">

[2020-02-21 19:15] victorsmseo commented on #56
I found out that the characters were crashing in Safari. Checked them out in Chrome and works like a charm. Thanks!

[2020-02-22 17:32] ojoven commented on #54
You're great, thanks for all the effort you're putting on this tool!

[2020-02-26 14:13] sunnyjain commented on #54
Yes. Pretty Fast! Thanks. Appreciate it.

[2020-02-26 17:51] #54 closed

[2020-02-26 17:51] #48 closed

[2020-02-28 07:42] #45 closed

[2020-03-12 22:11] davwheat commented on #56
I didn't realise there was a new endpoint. You might want to add a comment to the old API endpoint warning of future deprecation.

[2020-03-12 22:29] nealchawn commented on #56
Thanks for your comment I had no idea either !

[2020-03-27 11:46] hexdecimal16 commented on #32
I am also experiencing same problem. The meanings data in JSON response is hard to iterate over. Please make meanings  return JSONObjects instead of JSONArrays then the problem would be solved.

[2020-03-27 13:10] meetDeveloper commented on #32
@hexdecimal16 I will implement that feature this weekend.

[2020-03-28 04:40] hexdecimal16 commented on #32
@meetDeveloper Thanks...

[2020-03-30 01:33] hexdecimal16 commented on #32
@meetDeveloper hey man did you looked it?

[2020-03-30 07:52] meetDeveloper commented on #32
Yeah will push fix today or by tommorrow atleast.

[2020-04-02 09:23] meetDeveloper commented on #32
@hexdecimal16 I have done it, you can change `v1` to `v2` and it will work. Example: https://api.dictionaryapi.dev/api/v2/entries/en/hello

[2020-04-02 09:28] meetDeveloper commented on #32
Sorry for the delay, life got me.

[2020-04-02 09:28] meetDeveloper commented on #32
@simpleshadow Can you verify once this is how you wanted?

[2020-04-02 16:10] hexdecimal16 commented on #32
@meetDeveloper Yah now it's fine. Thanks!

[2020-04-02 17:29] #32 closed

[2020-04-02 17:29] #6 closed

[2020-04-02 17:31] meetDeveloper commented on #17
Closing this issue, as this won't be supported in near future.

[2020-04-02 17:31] #17 closed

[2020-04-02 17:32] meetDeveloper commented on #56
Have included version 2 also,

https://api.dictionaryapi.dev/api/v2/entries/<--language_code-->/<--word-->

This changes the way API gives output.

[2020-04-02 17:33] meetDeveloper commented on #38
Can you open the issue on https://github.com/meetDeveloper/Dictionary-Anywhere, as this project is for Dictionary API. I will fix the dictionary issue in upcoming weekend.

[2020-04-02 17:33] #38 closed

[2020-04-11 06:21] lordemore opened #57 "Return word pronunciation in voice"
It's not issue but, Can you please add voice pronunciation of requested word.

[2020-04-17 17:39] meetDeveloper commented on #38
@drveresh I have fixed the issue, can you confirm once and tell me. https://chrome.google.com/webstore/detail/dictionary-anywhere/hcepmnlphdfefjddkgkblcjkbpbpemac/related?hl=en Sorry it took me lot of time, life was being tough. Kindly check once if it is working. I am really sorry.

[2020-04-26 16:21] meetDeveloper commented on #57
@lordemore I have to research around this a bit, before I can give you the timeline in which this feature can be implemented.

[2020-04-27 17:52] meetDeveloper commented on #4
I have introduced `v2` of API that will solve this problem. Kindly look at the readme.

[2020-05-03 02:36] ElectrifyPro opened #58 "Extra whitespace at beginning of word example"
I encountered a few words that have extra whitespace at the beginning of their examples, for example, [hindsight](https://api.dictionaryapi.dev/api/v3/entries/en/hindsight)

I believe this wouldn't be too difficult to fix?

[2020-05-03 10:19] meetDeveloper commented on #58
@ElectrifyPro I will fix it as soon as possible, thanks for finding that out.

[2020-05-08 06:21] doubleh311 commented on #43
Hi @meetDeveloper, thanks to your API for my app but
Do you have any update in this issue? Still the phonetic in result return string instead array.
And the current respelling format is a bit more difficult than IPA.
Secondly, I've found out problem in the result which returns the pronunciation of the verb form for "record" is not correct, expected /ri'cord/.
 Thanks

[2020-05-14 16:22] meetDeveloper commented on #43
@doubleh311 Looking into this today.

[2020-05-16 08:16] doubleh311 commented on #43
@meetDeveloper thanks for your response.
btw, I think the issue of pronunciations is from the data source

[2020-05-30 08:22] manishsaraan opened #60 "Unable to fetch word pronunciation"
Api is not returning word pronunciation for English words. I found the bug fix. Will raise a pr.

[2020-06-03 00:28] JRamos29 opened #62 "Synonyms for other languages (and antonym if its possible)"
Hi,
It's possible to get the synonyms (and antonyms) for other languages? I tested all languages but just english show the synonyms.

[2020-06-03 12:17] meetDeveloper commented on #62
There is some problem with other languages will fix that this weekend.

[2020-06-03 12:17] meetDeveloper commented on #62
Are you using API v1 or v2?

[2020-06-03 13:33] JRamos29 commented on #62
I'm using API v2.
After the fix i will can get the synonyms for other languages?
Tnks for the answer.

[2020-06-12 14:40] ssabbarw opened #63 "Call to api is not returning results frequently."
i started using this api 2 days back and it was working great. I have written all my logic/data structures(for my flutter app) around the result returned by this api.
However since morning today, many calls are failing. Even for very simple words. Both in browser and via code.

To **summerize** the problem i am facing: Calls for (simple) words are failing many times and giving results some other t

[2020-06-12 17:28] meetDeveloper commented on #63
@ssabbarw I will take this on urgent priority and fix it, could you shift to `v2` version, I need to update that on website the documentation though I have update that as readme in this document.

[2020-06-12 21:27] meetDeveloper commented on #62
@JRamos29  Yes.

[2020-06-12 23:29] JRamos29 commented on #62
Great! Hope you can implement that soon.
Tnks in advance.

[2020-06-13 02:37] ssabbarw commented on #63
Hi
I am using v2 in my app. Calls using both v2 and v1 are failing. When they started failing with v2 i tried v1. It’s by chance that i have given you a screen shot of v1 here.

**Summary**: both v1 and v2 calls were failing. I pasted the v1 screenshot only.
**Question**: is it possible that the api or the google is doing some kind of throttling? Denying to serve requests?

Thanks

[2020-06-13 16:25] meetDeveloper commented on #62
@JRamos29  Can you give me some word for which synonyms are coming in google but not in api?

[2020-06-13 16:26] meetDeveloper commented on #63
API is not doing throttling, if that was the case you would have received rate limit error. I will soon start to implement caching mechanism so that I cache all the words and meaning seen until now and this way won't be depending on the provider.

[2020-06-13 17:11] ssabbarw commented on #63
Thanks for prompt reply.
But do u think caching will help? Because i am getting 404 for even new words. Maybe google is throttling because of too many calls?
I am a newbie. Apologies if i am asking navie questions or not able to explain properly.
If u want help reprodouce this we can connect on telegram. I am t.me/kickel_dev on telegram.

[2020-06-13 19:09] JRamos29 commented on #62
When you say 'google' what you mean? A general search in google or some specific tool like translator?
By the way I haven't searched the words with google, i just tested the api with Postman, and the other languages doesn't have synonyms, just English.
The API only gets synonyms if exists in google? What is the URL for search?

The examples bellow doesn't have synonyms, the array comes empty:
Fren

[2020-06-15 03:14] ssabbarw commented on #63
so the api now returns response code 429: too many requests,

 "title": "API Rate Limit Exceeded",
    "message": "Sorry pal, you were just rate limited by the **upstream server.**",
    "resolution": "You can try the search again at later time or head to the web instead."

Questions:
1. what is the rate limit here, like how many calls can we make per day/hour?

Thanks for acting quickly though.

[2020-06-15 05:38] meetDeveloper commented on #63
@ssabbarw Will add caching so that API does not depend on upstream server too much. I have this in roadmap next.

[2020-06-15 05:45] meetDeveloper commented on #63
@ssabbarw Also adding ratelimit based on IP, this way people who are using script to hit server at huge rate to download all meanings will be reduced.

[2020-06-15 10:46] ssabbarw commented on #63
Should work fine with Caching..
shall i close this issue now or will you close this yourself after you implement both?

[2020-06-16 14:36] meetDeveloper commented on #62
I made many changes to the API. Now it will return antonym and synonym for the words which have that on google. So I am taking data from google and others and if they have synonym I show synonyms.

[2020-06-16 14:39] meetDeveloper commented on #62
<img width="600" alt="Screenshot 2020-06-16 at 8 06 55 PM" src="https://user-images.githubusercontent.com/32453612/84788831-35173c00-b00d-11ea-9d4a-04175433866c.png">
The area under square that is one that I pick up. So if that is there, I will pick it up and show.

[2020-06-16 14:40] meetDeveloper commented on #63
@ssabbarw  I think you can close it, I will create another feature issue to fix them.

[2020-06-16 15:34] ssabbarw commented on #63
Thanks for your prompt replies. I will close it now.

[2020-06-16 15:34] #63 closed

[2020-06-16 15:44] JRamos29 commented on #62
Nice. But it's for English. I think that won't have for other languages, or not for all languages. But it's ok, i'll try another way to get the synonyms for other languages if not have in the API.
Tnks.

[2020-06-16 16:45] meetDeveloper commented on #62
For whatever word (and it shows for words not belonging to english also) google shows synonyms I will parse them and show it. I will try to find more sources for synonyms.

[2020-06-16 16:50] meetDeveloper commented on #58
I think the problem automatically went away, could not see in the word `hindsight`. Can you confirm @ElectrifyPro .
cc @manishsaraan I think we won't be needing the fix if this problem does not surface up.

[2020-06-16 17:12] JRamos29 commented on #62
When I search a word in google it brings the definitions in English only. Did you already published the changes?

[2020-06-16 17:18] meetDeveloper commented on #62
Search for word dictionary in google and modify url to add hl=lang_code as
query param.
Then you will see the dictionary in that language. To get list of anguage
code you can see the list on my website.

Like Spanish language code is es and so on.

On Tue, Jun 16, 2020, 10:42 PM JRamos29 <notifications@github.com> wrote:

[2020-06-16 17:39] ElectrifyPro commented on #58
Yes, it seems to have been fixed

[2020-06-17 05:17] ssabbarw commented on #40
I'm now stuck at this, was anybody able to find a work around or a permanent solution?
Kindly reply.

[2020-06-17 05:43] meetDeveloper commented on #58
@manishsaraan Do you know of any other examples where this problem can be manifested?

[2020-06-17 05:43] meetDeveloper commented on #40
@ssabbarw Will take a closer look at this today. Sorry for the delay.

[2020-06-20 19:10] meetDeveloper commented on #40
@ssabbarw @StevenLi-DS @Niweera Fixed the problems, now meanings will be shown for the words that are not headwords and also added fix for the word such as `zinc`. They had different kind of problems have fixed them. Kindly check and close the issue if you seem satisfied.

I am really sorry for the long delays, life was too hectic. I am now giving time to this API and improving it. Thanks a lot to

[2020-06-20 19:11] #58 closed

[2020-06-21 11:25] Niweera commented on #40
@meetDeveloper Sorry, I actually forgot that I opened issue since it has been a long time now. I have developed my own dictionary API on top of your dictionary API. Thanks to your API I learned a great many things.

[2020-06-21 11:25] #40 closed

[2020-06-21 11:41] ssabbarw commented on #40
Hi @meetDeveloper   thanks for amazing work. Seems to be working for me too.

[2020-07-09 13:36] brunodema commented on #4
Hello @meetDeveloper. First, I'd like to congratulate you on your work this API... it's really amazing. I've been currently working on an app prototype which uses your dictionary API to retrieve word entries. Since I noticed a change in behavior lately, I checked the code here in Github and saw that changes were actually made to it.

As previously mentioned, this structure change really helped a l

[2020-07-09 13:54] meetDeveloper commented on #4
Actually the code here is not the current one, can you exactly tell me your problem, which version are you using and for which language?

[2020-07-09 14:24] brunodema commented on #4
I started working with the version available at https://dictionaryapi.dev/, which I believe is the v1 version. I first started about 2-3 weeks ago, and I remember it retrieved phonetic data (in IPA style) alongside definitions. I'm noticing that the both the v1 and v2 (which I discovered when browsing this page) aren't retrieving phonetic data anymore.

I just tested this in versions v1 and v2 wit

[2020-07-10 16:28] meetDeveloper commented on #4
@brunodema  Thanks for bringing this up, I will fix this as soon as possible. Sorry for the inconvenience.

[2020-07-11 13:45] ScottON commented on #60
Any update on this? When I used the API in the past  it would return the phonetic pronunciation. Hope this gets fixed asap. Thanks!

[2020-07-12 11:58] jackkenlay opened #64 "French example isn't working"
https://api.dictionaryapi.dev/api/v2/entries/fr/bonjour returns no entry, has something changed? It works on v1.

[2020-07-12 12:20] meetDeveloper commented on #64
Looking into it..

On Sun, Jul 12, 2020, 5:29 PM Jack <notifications@github.com> wrote:

[2020-07-14 00:28] garciadiazjaime commented on #64
@meetDeveloper same issue happens on other languages as well,
maybe google disabled their endpoint?

[https://www.google.com/async/dictw](https://github.com/meetDeveloper/googleDictionaryAPI/blob/master/modules/dictionary.js#L156)

[2020-07-14 16:26] meetDeveloper commented on #64
Can you try it now @jackkenlay @garciadiazjaime

[2020-07-14 16:37] garciadiazjaime commented on #64
@meetDeveloper working now! 👍

what was it?, if you don't mind sharing :)

Thanks!

[2020-07-14 16:39] meetDeveloper commented on #64
URL was changed, I fixed that. 😄

[2020-07-16 06:55] meetDeveloper commented on #64
@jackkenlay Can you close the issue if this is working for you?

[2020-07-16 06:58] meetDeveloper commented on #62
Synonyms are available for both English and other languages, and antonyms are available for languages other than English. Will make sure english also has antonyms soon. Closing this issue as this was for languages other than english. @JRamos29

[2020-07-16 06:58] #62 closed

[2020-07-16 19:42] #64 closed

[2020-07-23 05:48] KavinAgrawal opened #65 "Error in Google Async Link"
Hi Team,
I went through your github repository and used it to develop some similar things in my project. It was working very fine. However, the link "https://www.google.com/async/dictw?hl=${language}&async=term:${word},corpus:${language},hhdr:false,hwdgt:true,wfp:true,xpnd:true,ttl:,tsl:${language},_id:dictionary-modules,_pms:s,_jsfs:Ffpdje,_fmt:pc"  for getting meanings from google is giving Erro

[2020-07-23 06:25] manishsaraan commented on #60
@meetDeveloper did you review pr for this issue ?

[2020-07-25 21:21] GE0NE commented on #60
Any update on this?

[2020-07-27 21:42] meetDeveloper commented on #60
@GE0NE @ScottON @manishsaraan Sorry for so late response, life got me. I have merged @manishsaraan PR and also made some other changes, I have deployed the fix and you guys can test and tell me.

Sorry once again for keeping this open for so long, I will try to be more responsive next time. Thank you for using my Dictionary API.

[2020-07-27 21:43] meetDeveloper commented on #60
Also I am using Cloudfront so meaning are cached, I need to bust the cache so that you guys see the phonetics.

[2020-07-27 22:00] meetDeveloper commented on #60
I have invalidated the cache, now you will see the phonetics. Again really sorry for delaying this this much.

[2020-07-27 22:09] meetDeveloper commented on #43
@doubleh311 I am using US dictionary instead of UK. Using this https://www.lexico.com/en/definition/record.

There are two types of phonetics Respelling and IPA. Respelling is /ˈrekərd/ whereas IPA is /ˈrɛkərd/.

I am using IPA.

[2020-07-27 22:12] meetDeveloper commented on #43
@Farhad098 Sorry for so late reply, as I said I am using US dictionary. In US dictionary [use](https://www.lexico.com/en/definition/use) has no pronunciations. That is why I am not returning that.

[2020-07-27 22:13] meetDeveloper commented on #65
@KavinAgrawal  I have all the meaning already fetched and I am using that instead of URL. What for do you need url for?

Sorry for late reply, life got me .

[2020-07-27 22:15] meetDeveloper commented on #4
@brunodema I have fixed this now, could you check once. Sorry for so late reply, life got me little busy. Can you check once and tell me? Again I am sorry for the inconvenience you faced.

[2020-07-27 22:17] meetDeveloper commented on #57
@lordemore I have added the voice pronunciation, for source and destination language, I have to do some research if google actually supports it. I am sorry for so late reply, life got me busy these days. I am sorry for the inconvenience you faced.

[2020-07-27 22:18] meetDeveloper commented on #56
Thank you all for using my API and helping it reach here.

[2020-07-27 22:18] #56 closed

[2020-07-28 02:45] JUEsoft opened #66 "Returns nothing."
Throws an error when fetched with JS.

[2020-07-28 03:19] KavinAgrawal commented on #66
The link used for retrieving English meanings from google in JS file has been closed by google.

[2020-07-28 03:22] KavinAgrawal commented on #65
Actually your api results for English words do not contain any phonetic. So I decided to make my own dictionary using the  google link you used in the dictionary.js file. But that link is now expired and giving out Error 404

[2020-07-28 05:23] manishsaraan commented on #60
Thanks for merging the pr @meetDeveloper . Also no issue regarding the response. we all are in same boat in these testing times :+1:

[2020-07-28 06:50] meetDeveloper commented on #66
@JUEsoft Can you tell me which URL did you requested?

[2020-07-28 06:52] meetDeveloper commented on #65
@KavinAgrawal I have now added the phonetics and pronunciations. I added this yesterday only, can you once look and tell if that is what you needed.

[2020-07-28 07:02] meetDeveloper commented on #60
@GE0NE @ScottON Have you guys seen the changes?

[2020-07-28 17:32] #60 closed

[2020-07-28 17:33] meetDeveloper commented on #4
@brunodema ^

[2020-07-28 18:07] brunodema commented on #4
Hello @meetDeveloper. Sorry, but I set github notifications as spam due to some annoyances lately.

I just tested the API with the same 5 words that I previously used and all of them returned the new (at least I assume that you implemented this in the last build) phonetic structure, with both IPA pronunciation and link for audio pronunciation.

All words retrieved both attributes, except 'love', w

[2020-07-28 19:02] meetDeveloper commented on #4
Can you tell me the non english words you tested, I found the problem for the word `love`. Fixing it, for others I need to know the words you tried, for the word `link` in spanish the source I am using does not provide the phonetics, for german it does not provide the audio. Are there any other words. So when audio exists it will be returned. I will soon make sure non english words have audio most

[2020-07-28 19:24] meetDeveloper commented on #4
@brunodema I have fixed the phonetics for `love`.

[2020-07-28 19:33] meetDeveloper commented on #50
Added support for English (UK). You can send request to `/api/v2/entries/en_GB/hello`. Can you check once, sorry for so late fix. @sqlpedalianist

[2020-07-29 16:41] meetDeveloper commented on #66
Closing issue for no activity.

[2020-07-29 16:41] #66 closed

[2020-07-29 21:45] meetDeveloper commented on #65
@KavinAgrawal closing this ticket, you can open new ticket if you encounter any problems with the phonetic and permission API is returning. I have currently significantly stabilised the phonetics and pronunciations.

[2020-07-29 21:45] #65 closed

[2020-07-29 21:48] #43 closed

[2020-07-29 21:48] meetDeveloper commented on #43
@Farhad098 you can reopen the ticket if you encounter some problems, I would be happy to fix those. 😊

[2020-07-29 21:49] meetDeveloper commented on #50
Closing this ticket, sorry for so late reply. I will try to be more responsive from now. Really sorry.

[2020-07-29 21:49] #50 closed

[2020-07-29 21:53] meetDeveloper commented on #41
@StevenLi-DS will try to find a way to do this. 😊

[2020-07-30 08:12] Inrovero opened #67 "Android integration"
Hi there! I'm having some troubles to integrate this api in my android app..
I need to create an object to read and deserialize the JSON response of this api, but i'm not shure how to adapt it..
Can u help me?

And another request is.. There is a way to get the JSON Response without spaces or endlines?

Regards and congrats for this fantastic api,
Inrovero

[2020-07-30 18:38] meetDeveloper commented on #4
@brunodema ^

[2020-07-30 19:28] brunodema commented on #4
I just tested 'love' and it retrieved all fields (text/audio).

I'll mention a few words that I tested for some languages that I know of:

French:
- fromage: both empty;
- aile: both empty;
- mon: both empty.

German:
- Kopf: retrieves a 'phonetic' struct (has IPA text data) and a 'phonetics' struct (the same IPA text from the other struct, no audio);
- Wurst: retrieves a 'phonetic' struct (has IP

[2020-07-31 01:20] JUEsoft commented on #66
https://api.dictionaryapi.dev/api/v2/entries/en/

On Tue, Jul 28, 2020, 7:51 AM meetDeveloper <notifications@github.com>
wrote:

[2020-07-31 23:44] brunodema commented on #4
So, as an exercise to both learn node.js, and to try help you with the API, I cloned this repository and tested it for a while. After a couple of hours digging stuff (due to lack of knowledge hehe), I noticed that dictionary.js contains the v1 implementation of the API, and not the current one - at least that's what I assumed after testing it with the word 'hi', which retrieved me the old data str

[2020-08-01 07:19] meetDeveloper commented on #66
https://api.dictionaryapi.dev/api/v2/entries/en/hello

[2020-08-01 07:20] meetDeveloper commented on #66
You have to have the word at the end.

[2020-08-01 11:18] JUEsoft commented on #66
I did that (endpoint).
and i returns undefined.

[2020-08-02 12:29] meetDeveloper commented on #4
@brunodema Actually in repository the code is not present for the v2 implementation. The code uploaded is little different from here.

[2020-08-02 12:30] meetDeveloper commented on #4
I am relaying what google is sending me in some cases it just send the text and in some it send the audio also, I am just relaying it back.

[2020-08-02 14:00] brunodema commented on #4
OK, no problem @meetDeveloper . I just wanted to let you know in case something unplanned by the app was happening.

If you decide to put v2 here or somewhere else, let me know... I'd like to take a look and see if I can help.

[2020-08-02 14:13] meetDeveloper commented on #4
@brunodema Thanks, I will soon push the commit to github. :) Is there any particular thing you want to see in the API?

[2020-08-02 15:12] brunodema commented on #4
Nah, nothing in particular at the moment. After reading the current version's code, I could understand the flow of information in the API and from where you take the information, so I believe that v2 probably has the same structure. Once you post it here I'll try to mess with it a little, at least while I have time to do so.

[2020-08-04 05:35] meetDeveloper commented on #67
@Inrovero You need to parse JSON and convert into object. Lines and spaces won't matter then.

[2020-08-04 05:36] meetDeveloper commented on #67
@Inrovero You can take a look at this, https://stackoverflow.com/questions/14812560/how-to-parse-the-json-response-in-android

[2020-08-04 05:39] meetDeveloper commented on #4
@brunodema  Sure, I am closing this ticket then. Will keep you updated when I post v2 API here. 😊

[2020-08-04 05:39] #4 closed

[2020-08-04 05:41] meetDeveloper commented on #56
@davwheat @nealchawn  There is V2 endpoint also now.

[2020-08-06 07:03] Inrovero commented on #67
@meetDeveloper Thanks for your reply! I'm going to attack this tomorrow, i've already worked with json objects and json arrays in java, but i've thinked that this time it might be different..
Anyway, do u have some sort of document with all possible responses from the dictionary's json? e.x: don't have meaning, have a lot of meanings, get an error, the word doesn't exists, etc

[2020-08-11 12:13] meetDeveloper commented on #67
@Inrovero I will add those in the documentation. You can look at these 4 to find all the types of object API can return.

https://api.dictionaryapi.dev/api/v2/entries/en/hello (Top level Array having only 1 object inside it)
https://api.dictionaryapi.dev/api/v2/entries/en/set (Top level Array having multiple objects inside it)
https://api.dictionaryapi.dev/api/v2/entries/en/absad (404)
https://api

[2020-08-12 17:11] drveresh commented on #38
Sorry for late reply, it is working perfectly fine.  If possible, can you
also add *Synonyms* and 1-2 usage statements as well?

Thank you.

On Fri, Apr 17, 2020 at 11:09 PM meetDeveloper <notifications@github.com>
wrote:

[2020-08-23 18:50] bass3l opened #68 "Google's API/URL is no longer working, returning 404"
Hi,

Google's API/URL is no longer working, returning 404. I've checked the other issues, and I think it's reported.

On dictionaryapi.dev it's working, so did you figure out the new URL? or are you using a cached dictionary?

I'm using some of the code in my own project to fetch words and **verbs**, hence I'm not able to use dictionaryapi.dev in its fullest.

Thank you for your work.

[2020-08-30 11:00] meetDeveloper commented on #68
I have cached dictionary and also other sources to fetch definitions. I am closing this ticket, we can chat on closed ticket, as the title suggests that the API which I provide is not working.

[2020-08-30 11:00] #68 closed

[2020-08-31 07:00] zxl777 opened #69 "Other languages do not work"
https://api.dictionaryapi.dev/api/v2/entries/ja/hello
https://api.dictionaryapi.dev/api/v2/entries/zh-CN/hello

{
"title": "No Definitions Found",
"message": "Sorry pal, we couldn't find definitions for the word you were looking for.",
"resolution": "You can try the search again at later time or head to the web instead."
}

[2020-08-31 15:29] iigmir commented on #69
Here are my results:

Successful cases:

- https://api.dictionaryapi.dev/api/v2/entries/ja/こんにちは
- https://api.dictionaryapi.dev/api/v2/entries/ja/あなた
- https://api.dictionaryapi.dev/api/v2/entries/zh-CN/你

Failed cases:

- https://api.dictionaryapi.dev/api/v2/entries/ja/hello
- https://api.dictionaryapi.dev/api/v2/entries/ja/ハロー
- https://api.dictionaryapi.dev/api/v2/entries/zh-CN/hello
- https:/

[2020-09-01 04:38] zxl777 commented on #69
Thanks, Maybe it is just English to English dictionary.

[2020-09-02 11:50] nmapx opened #70 "Any plans to add more languages?"
Hi there! First of all - great job with the project. I wanted to ask if there are any plans to add more languages especially Polish? I would really like to use it in my project. Keep up the good work!

[2020-09-18 09:33] nnnhi opened #71 "Adding accent's type to phonetics"
It would be better if the API can return the accent's type - US or UK in English - in phonetics.

[2020-09-25 18:32] Trixter9994 opened #72 "Addition of Antonyms to English"
The api doesn't appear to return any antonyms in the English language. Since antonyms are returned in every other language I've tested, I don't see why it wouldn't be included in English. I do know that you've mentioned this before [here](https://github.com/meetDeveloper/googleDictionaryAPI/issues/62#issuecomment-659200089), you never did clarify what the issue was.

Language: en
Version: v2

[2020-09-25 18:53] Trixter9994 commented on #72
After doing a bit more research I can see your using this as your url for the English language: https://github.com/meetDeveloper/googleDictionaryAPI/blob/36c1a9dcce6cd25db303078314ea6b5283bc5666/modules/dictionary.js#L45

I originally was going to suggest using `https://www.lexico.com/en/synonym/` instead of `https://www.lexico.com/en/definition/` before I realized the former did not include the a

[2020-09-25 19:52] meetDeveloper commented on #71
Can you tell me what accent type is?

[2020-10-04 03:29] nnnhi commented on #71
For example, IPA of hello is /heˈləʊ/ in UK or /heˈloʊ/ in US. In json, it looks like:
        "phonetics": [
            {
                "text": "/heˈləʊ/",
                "audio": "link"
               "accent" : "UK"
            },
            {
                "text": "/hɛˈloʊ/",
                "audio": "link"
                "accent" : "US"
            }
        ],

[2020-10-04 06:01] meetDeveloper commented on #71
IPA differs for different region?

[2020-10-04 06:20] nnnhi commented on #71
Right

[2020-10-18 09:42] Kjoedicker opened #73 "What is the API rate limit?"
I keep getting blocked by the API rate limit. I have come back after a minute or so and been allowed to make requests. Other times I have come back after 15-30 minutes and the block is still up. I'm not making thousands of requests, only 2-3 here and there to test my application.

What is the threshold for consecutive requests?

[2020-11-05 16:29] adityaspt opened #74 "How many requests can I send back to back ?"
When I try to get a lot of words back to back (more than 15words, i want to get 1000s of words at a time)
i catch this exception
System.Net.WebException: The remote server returned an error: (429) Too Many Requests

How much would be the Host server capacity?

I will try to increase the interval between requests by using Thread.Sleep(n)

Also any solution to this issue would be appreciated.

[2020-11-13 06:44] rpungin commented on #69
I tried this with Russian: https://api.dictionaryapi.dev/api/v2/entries/ru/стул which is looking up the word "chair"
and got that same error. Looks like Russian does not work.

[2020-11-16 21:54] meetDeveloper commented on #69
@rpungin I have fixed this issue.

@zxl777 Just like @iigmir said The API only checks the dictionary of chosen language, so like if the language is Japanese you won't find word `hello` in that, you have to search for Japanese translation of word `hello`.

@zxl777  I don't think the other feature that you are looking for will be supported in near future.

[2020-11-16 21:56] meetDeveloper commented on #70
Yeah, I will add more language as soon as the sources I use to find definitions add more languages, last time I checked polish was missing from there, I will recheck and add it if possible. Thanks for using this API, also sorry for late reply work life balance does not let me actively work on the API, however currently I am fixing many issues right now and making it much more stable. :)

[2020-11-16 21:57] meetDeveloper commented on #67
@Sharkaboi I will soon make english and other languages format same, work is going on in this direction, it is taking some time, I can add empty field but that kind of is an hack that is why I have not added till now.

[2020-11-16 22:05] meetDeveloper commented on #73
@Kjoedicker,  @dxs5670, @mascode, @RajaSrinivasan, @TheoSeo93, @Narayanbhat166, @Trixter9994, @adityaspt, @nvngoc2409, and @YevheniiStepaniuk.

The Rate limit for API is around 200 request per minute. Though due to a problem it use to give 429 without even consumer of the API hitting this limit, I have fixed this issue and you guys will face extremely less Rate Limit error from now on.

Sorry for

[2020-11-16 22:08] meetDeveloper commented on #72
@Trixter9994 This will be soon introduced, yeah as you said it will require calling two separate url and these could decrease performance of API which is why I avoided this till now, I have other ideas though and soon will introduce antonyms to english language.

Thank you using this API, I am sorry for inconvenience and late reply, work life balance is not present currently. :(

[2020-11-16 22:10] meetDeveloper commented on #74
Marking this duplicate of #73. Will track this there.

[2020-11-16 22:10] #74 closed

[2020-11-18 04:53] meetDeveloper commented on #73
It's actually 300 request per 5 minutes.

[2020-11-19 02:38] #67 closed

[2020-11-19 02:39] #69 closed

[2020-11-19 02:40] #73 closed

[2020-11-20 11:01] NamrathaG opened #75 "Addition of etymology"
Is it possible to add the etymology of a word. At least for the English language?

[2020-11-28 08:16] dbackspace opened #76 "Can you add English - Vietnamese to api?"
Hello,
I really thank you for creating a useful API like this. Can you add translation languages ​​from English to Vietnamese into your API? Thank you very much.

[2020-12-04 18:24] sbeve72 opened #77 "If I am using this API in my app, is it safe for me to put that app on playstore or is it against Google's terms?"

[2020-12-15 14:14] traderjosh commented on #73
Is a 429 status code returned for reaching the rate limit?

If in my app, I'm making the client call your api, the rate limit belongs to him right? So 50 people using the app at the same time calling the API won't cause my rate limit to expand... you understand?

[2020-12-15 14:16] traderjosh opened #78 "Rate limit"
Is a 429 status code returned for reaching the rate limit?

If in my app, I'm making the client call your api, the rate limit belongs to him right? So 50 people using the app at the same time calling the API won't cause my rate limit to expand... you understand? The scenario is a game where the client on the frontend is making the fetch calls. I'm wondering about reaching the rate limit if many pe

[2020-12-21 13:23] Etiene commented on #78
Have you considered saving the call result into your own db every time someone fetches it? That way you only call the api once if you don't have the definition yet.

[2020-12-26 22:43] ryanbrownnetworking777 commented on #57
@lordemore Forvo.com already provides an excellent service for pronunciation. They record native speakers. It might be best to support interacting with Forvo in a premium version of this API.

[2021-01-16 19:40] chiraggmodi opened #79 "Is it open source for commercial?"
In your source code you are web scraping from lexico site. So my question is this legal to use this on commercial projects?

https://www.lexico.com/

[2021-01-16 20:21] codiejay commented on #79
Does Lexico have a policy statement against it? (Just asking too)

[2021-01-21 18:59] BrianComics opened #80 "Some words don't have definitions."
I first discovered this when I was testing the API. "Teleportation" does not appear to have a meaning, in fact, the `meanings` array is empty.

https://api.dictionaryapi.dev/api/v2/entries/en/teleportation

[2021-01-21 20:45] BrianComics commented on #80
After some research, I found you are using Lexico dictionary. When I search teleportation in Lexico dictionary, it redirects to a different page instead of providing a definition. Could that be why?

[2021-01-23 20:43] HubKing commented on #50
If it has been fixed, please update the documentation page https://dictionaryapi.dev/ . It only shows "English (US)" at the try box, and "en" in the supported-language table at the bottom. I thought British English was not supported, and came here to make a feature request for that.

[2021-01-26 22:39] meetDeveloper commented on #50
@HubKing Sorry for the delay, I have fixed this on website. Sorry for the inconvenience. Thank you for using my API.

[2021-01-26 22:39] meetDeveloper commented on #78
@Etiene Yeah, I have considered it, I will shortly do that.

[2021-01-27 19:51] TychoTheTaco commented on #78
I keep getting a 429 error also, even though I'm only sending a few requests per day. Unfortunately caching these wont help for me because most of the requests are different.

[2021-01-29 03:22] usbader commented on #78
@meetDeveloper what's the rate limit?

[2021-02-04 09:32] meetDeveloper commented on #78
This should be fixed now. I have to change architecture a little to scale the API to handle millions request per month. And my resources are limited as this now takes lots of expenditure to operate.

[2021-02-14 04:47] Parth576 opened #81 "'Adjetivo' in parts of speech for english word"
First of all, I would like to say that this is a very helpful API. Thank you for this!

Some english words have 'adjetivo' (spanish) in parts of speech. This is one example, another was precipitous but that seems to return 'adjective' again now.

![image](https://user-images.githubusercontent.com/27119104/107868805-520e5280-6ead-11eb-9ed4-ba1aebc3b969.png)

[2021-02-27 14:27] chiaweilee opened #82 "[BUG] request 'feet', got 'foot'."
`GET https://api.dictionaryapi.dev/api/v2/entries/en_GB/feet`

Same in 'caught' and 'catch'.

[code]

[2021-03-01 03:05] meetDeveloper opened #83 "I am unable to pay for the API expenses. Please help this API keep running."
The number of requests to this API has been growing rapidly and it is becoming increasingly difficult for me to fund this API single-hand.

Kindly please donate so that I am able to fund the API.

[![paypal](https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif)](https://www.paypal.me/paytosuraj)

[2021-03-10 07:50] Semionbatkhan commented on #83
Hi meetDeveloper, please write down you mail here, for me to contact you directly or you can send an email to djekson603@gmail.com. I have a proposition you might have interested in. We can help you with the expenses. We have an English school online and we need this Dictionary API.

[2021-03-11 11:31] huntit opened #84 "The README has API v2 format, but the code here is for API v1."
The README has API v2 format, but the code here is for API v1.

Do you have the code for API v2 format, that you could post here ?

[2021-03-11 11:33] huntit commented on #83
Perhaps people could pay to help remove the rate limit, or to access the code for API v2 ?

[2021-03-11 19:31] pvonmoradi commented on #75
There is also a graph for etymology. Providing a link to that image (similar to the pronunciation) would be helpful. I gather there is also a text description as @NamrathaG mentioned.

[2021-03-20 06:24] huntit commented on #4
@meetDeveloper any success with posting the v2 API ? Thanks.

[2021-04-12 08:32] nujnay commented on #77
Great question, I want to know it too

[2021-04-12 08:57] fjmorant commented on #77
Same question here

[2021-04-17 20:00] naster01 opened #85 "Where can I get the Database?"
I need to verify if a verb is an adjective for a couple of thousand of wrods but I can't rely on an Api that can go down at any moment. Is there a way I can host the Api on my local machine?

[2021-04-27 17:10] neeksor commented on #85
it's just scraping from lexico.com .. so there's no database and this "api" will break when anything changes on https://www.lexico.com/en/definition/ ..

[2021-04-27 17:11] neeksor commented on #77
No. This "api" is scraping copyrighted content from a third party site (lexico.com). I wouldn't use it.

[2021-05-03 01:28] ryanyu104 opened #86 "Look up some words get wrong data"
I looked up some words and did not get the correct definition.

e.g. factory

[code]

[2021-05-08 12:02] saurabhkanzarkar opened #87 "Some Times Server Down"
Hello

  I am new user using your api, but sometime I have face issue like if  used wifi  to connect api its giving error unresolved host name, if I used mobile data its working fine.
Can you please  resolve this issue ?

Thank You

[2021-05-13 03:45] alegend4u opened #88 "Many english words are not available"
I used this API and it is great. However, I find that several English words are not found using this API.
I am attaching a text file with a list of words that I found are unavailable via this API.

[failed_words.txt](https://github.com/meetDeveloper/freeDictionaryAPI/files/6470244/failed_words.txt)

[2021-06-12 01:35] sooswastaken opened #89 "API is down. SSL error"
Cannot connect to host api.dictionaryapi.dev:443 ssl:True [SSLCertVerificationError: (1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1123)')]

Is this on my end or whole API?

[2021-06-12 03:12] rpungin commented on #89
Looks like the whole API. The query from the website does not work either:
https://api.dictionaryapi.dev/api/v2/entries/en_US/test

![Screen Shot 2021-06-11 at 11 11 42 PM](https://user-images.githubusercontent.com/3802522/121763480-74864480-cb0a-11eb-9d5b-e7baa69d67f8.png)

[2021-06-12 03:19] solamour commented on #89
Looks like the certificate expired... today.

![image](https://user-images.githubusercontent.com/330249/121763590-22392980-caf2-11eb-8de4-8d2d27cb3c64.png)

[2021-06-12 13:15] sooswastaken commented on #89
It works now, I think the owner renewed the certificate.

[2021-06-12 13:15] #89 closed

[2021-06-23 10:28] tomasen commented on #84
The code doesn't seem to be the latest copy. A little more transparency here would be great.

[2021-07-07 21:02] 12Isabella opened #90 "Error in response for en_us "bear""
Doing an API call for the word Bear, the returned information does not seem to follow the defined scheme.

Instead of returning an array of "partofSpeech" an array of "word" is returned. This is not consistent, compare to for example "grip"

https://api.dictionaryapi.dev/api/v2/entries/en_US/grip
https://api.dictionaryapi.dev/api/v2/entries/en_US/bear

The inconsistent return is included below.

[

[2021-08-01 05:57] danger-ahead commented on #90
I don't see anything odd. Did check it too.

[2021-08-01 05:59] danger-ahead commented on #85
@neeksor are you sure? The link you provided doesn't provide a dictionary for all the languages that this API provides. The source must not be this. Also the returned data differs with the API's returned data.

[2021-08-01 08:29] vjahire opened #91 "Phrases not supported"
i am trying to get meaning of "Break a leg" or "Cutting corners" but its not showing any result

[2021-08-01 09:30] codiejay commented on #91
Son, it's a dictionary.

On Sun, 1 Aug 2021, 09:29 vjahire, ***@***.***> wrote:

[2021-08-03 22:57] meetDeveloper commented on #84
@huntit @tomasen @ngocsangyem @kyfk @pdarc @TheBotlyNoob I have updated the code.

[2021-08-03 22:57] #84 closed

[2021-08-04 04:24] #78 closed

[2021-08-04 04:25] meetDeveloper commented on #83
I  have updated the code. @huntit

[2021-08-04 04:25] #83 closed

[2021-08-04 04:25] meetDeveloper commented on #76
It is not possible right now. I do not think it will be available in near future.

[2021-08-04 04:25] #76 closed

[2021-08-04 17:34] marwan-alg opened #94 "The Arabic option doesn't work at all"
I was using the API from the [website](https://dictionaryapi.dev/) and not a single Arabic word worked for me.
They all return "No Definitions Found".

[2021-08-06 14:08] Bourhjoul commented on #94
yes, same here I hope he fixed it.

[2021-08-06 14:13] Bourhjoul opened #95 "Arabic language doesn't work for me."
**I have been trying to create an app using the API and it just doesn't work,**

you can try it yourself using :  [this](https://api.dictionaryapi.dev/api/v2/entries/لعب)

it returns: "{"title":"No Definitions Found","message":"Sorry pal, we couldn't find definitions for the word you were looking for.","resolution":"You can try the search again at later time or head to the web instead."} "

hope t

[2021-08-07 12:58] queleok opened #96 "Some of the words are not recognised anymore"
E.g. querying `bee`, `bees`, `lates` yields:
[code]
while querying `all` yields:
[code]
I'm sure those used to work before.

[2021-08-07 18:59] Gidoont opened #97 "Breaking changes in API v1"
I've just discovered the API has been changed suddenly. I'm using API v1. My project that uses the API stopped working properly so I checked the response and found it does not have the same data structure as before. Pretty sure the changes happened just recently.

[2021-08-07 19:17] Gidoont commented on #97
To be more specific, forms of speech inside "meaning" were arrays containing objects with definition and example:

[code]

Right now they are objects containing "definitions" property, that contains an array with definition, example, synonyms, antonyms.

[code]

Also, the value of property "phonetic" always had slashes on both sides.
Now there are no slashes: `/wəːk/` -> `wəːk`

[2021-08-07 19:42] meetDeveloper commented on #96
I have fixed the results when queries `all`. I will soon look into other queries which are returning 404.

[2021-08-08 09:49] meetDeveloper commented on #97
Will look into this.

[2021-08-08 09:55] meetDeveloper opened #102 "Thinking of using wiktionary.org as source for Free Dictionary API. What are your thoughts?"

[2021-08-08 18:22] methusaleh commented on #96
The same happens for basic words like "apple".
@queleok @meetDeveloper

[2021-08-09 03:45] rrbadam commented on #102
Fine with it

[2021-08-09 07:39] meetDeveloper commented on #96
@queleok @methusaleh I have fixed this. @queleok The word `lates` will still lead to no definitions found as this word is not present in the source I refer to, rest all I have fixed.

[2021-08-09 07:42] queleok commented on #96
Fantastic, thank you, @meetDeveloper

[2021-08-09 07:42] #96 closed

[2021-08-09 07:43] meetDeveloper commented on #96
@queleok @methusaleh Also can you guys look into this https://github.com/meetDeveloper/freeDictionaryAPI/issues/102

[2021-08-09 07:47] queleok commented on #102
Would it be an additional source, or a replacement for the current one?

[2021-08-09 07:50] meetDeveloper commented on #102
@queleok This will be an replacement.

[2021-08-09 07:50] meetDeveloper commented on #102
Wikitionary uses following as sources: https://en.wiktionary.org/wiki/Wiktionary:Public_domain_sources

[2021-08-09 08:04] queleok commented on #102
I see, thank you, @meetDeveloper . I've tried checking the dictionary of 100k most frequently used English words according to the Wiktionary, there were some odd items like clearly French or German words. Of course, it's not a showstopper for the idea, so I guess it should be fine :)

[2021-08-09 10:30] meetDeveloper commented on #97
This is fixed now.

[2021-08-09 10:31] meetDeveloper commented on #97
@Gidoont Yeah phonetic bit has been changed, will it be possible to make changes at your end for this?

[2021-08-09 10:33] Gidoont commented on #97
Yes, no problem. Thanks for addressing it.

[2021-08-09 10:35] #97 closed

[2021-08-09 10:38] meetDeveloper commented on #97
@Gidoont Also can you guys look into this #102 This will help me a lot.

[2021-08-09 10:39] meetDeveloper commented on #87
This seems to be a problem on user end. As from API side mobile data or wifi is same.

[2021-08-09 10:39] #87 closed

[2021-08-09 10:43] meetDeveloper commented on #88
@alegend4u Can you recheck the words now? Also some have misspelling eg: obstrusive. If you still find a word that is not misspelled and does not have any meaning, you can give that list to me and I will look into it.

[2021-08-12 18:52] meetDeveloper commented on #88
These words are actually missing:

4: "dysphoric"
7: "pared down"
8: "peter out"
12: "ambrosial"
13: "far cry"
14: "aphoristic"
15: "debilitation"
17: "diametric"
18: "carousal"
20: "complaisance" (French word)
22: "tyrannic"

[2021-08-17 08:04] phibr0 commented on #102
When will this change happen?

[2021-08-18 05:59] rpungin opened #103 "phonetics audio URLs are missing the protocol (https)"
The JSON in the api response for phonetics audio URL is missing the protocol.

Here is an example response to https://api.dictionaryapi.dev/api/v2/entries/en/play

[code]
The audio url value is missing "https:"

[2021-08-21 06:42] ichmoimeyo commented on #102
HI

Have you checked out ...

https://yandex.com/dev/dictionary/
https://yandex.com/legal/dictionary_api/ **FREE**

http://www.collinslanguage.com/collins-api/ **FREE -> 5000 p/m | £75p/m -> 30000 p/m**

[2021-08-21 08:33] meetDeveloper commented on #102
@ichmoimeyo They support English which I can get from Wiktionary.

[2021-08-21 20:21] ichmoimeyo commented on #102
@meetDeveloper
https://yandex.com/dev/dictionary/doc/dg/reference/getLangs.html **[with russian emphasis]**
http://www.collinslanguage.com/collins-api/ **[Bilingual or monolingual/bilingual]**

[2021-08-25 22:29] PEUFI opened #104 "No phonetics for deliberate or estimate"
If I run this query :

https://api.dictionaryapi.dev/api/v2/entries/en_US/deliberate

It returns a string where the phonetics field is empty.

Same issue with the word :

https://api.dictionaryapi.dev/api/v2/entries/en_US/estimate

I think this is because deliberate words have different audio for each parts of speech and does not have any at the top level.

This should be fixed

[2021-08-26 03:25] tamb opened #105 "Support random word search"
I'd like to see a random work feature.
Endpoint: `api/v2/random?number=[number of words]beginswith=[letter to begin with]`

It would call this API https://random-word-api.herokuapp.com/home

returns an array of word definitions. If `number` is 1 or not present, we return one definition.

I'm 100% up for working on this

[2021-08-29 13:36] rezwanul502 opened #106 "Speech sound is not present"
Provided audio link doesn't read out text.

[2021-08-29 13:42] #106 closed

[2021-08-29 13:43] rezwanul502 commented on #106
https:// missing in url.
got the solution from previous issue.

[2021-08-31 14:18] ms-dc commented on #102
any eta to non english language coming back? portuguese in particular

[2021-09-07 18:09] joe1chen opened #107 "Allow US English to be used"
Right now the API returns British english (pronunciation and audio files are for British english). Can we make it so that English can be configurable?

For example:
https://api.dictionaryapi.dev/api/v2/entries/en-US/hello

[2021-09-11 14:40] piever commented on #102
I confess I would love it if more languages were available. At a cursory look, it seems as if Wiktionary is reasonably good in other languages as well. Is the problem that the wiktionary API is inconsistent across languages?

Otherwise, I imagine it would cost relatively little to just support other languages as well (even if it turns that Wiktionary lags behind a bit on those, I guess it's still

[2021-09-12 15:44] sbeve72 commented on #102
I can't complain as I pay 0 bucks to use this api but this will break [my app](www.github.com/sbeve72/JADA). Brazilian Portuguese is already broken :'(

[2021-09-12 15:54] sbeve72 opened #108 "Brazilian Portuguese words have started to act like Arabic"
First of all, i will be forever grateful for this api as this is what let me make one of my most successful apps ([JADA](www.github.com/sbeve72/JADA)). Arabic never worked for me with the api for some reason and now Brazilian Portuguese doesn't either, can this be fixed? I am thinking this is part of the gradual migration to the wikitionary api but I'm not sure.

[2021-09-13 11:15] OultimoCoder commented on #102
Yeah I would really prefer the change didn't happen. I am creating a card for a language flashcard apps and this is super useful for dictionary definitions in a large variety of languages.

[2021-09-23 12:03] willerrodrigo commented on #103
Up

[2021-09-28 22:43] NotWearingPants opened #110 "partOfSpeech is sometimes undefined"
Searching for `lieu` or `a bit` for example gives results with no `partOfSpeech`.

https://api.dictionaryapi.dev/api/v2/entries/en/lieu

https://api.dictionaryapi.dev/api/v2/entries/en/a%20bit
(this gives one "noun" result, and another without `partOfSpeech`)

[2021-10-13 21:27] 1over137 opened #111 "Is there a way to self-host this?"
When I run the service on my computer, it doesn't return any definitions for English (though it does work for other languages).

[2021-10-24 07:07] timothyckl opened #112 "Getting all english words"
Is there a way to retrieve all English words with the API?

[2021-10-24 11:05] #112 closed, assigned to nobody

[2021-11-04 03:25] Galaxy-Coding opened #113 "Broken"
The API doesn't seem to work anymore
I tried making a request to https://api.dictionaryapi.dev/api/v2/entries/en/hello and I got this:
![image](https://user-images.githubusercontent.com/67515751/140252916-9bd0530c-d4b0-4a0b-969c-82e21e01e9cb.png)
Please help... this is a new problem.

[2021-11-04 18:00] Galaxy-Coding commented on #113
Seems to be fixed.

[2021-11-04 18:00] #113 closed

[2021-11-09 21:54] leifadev opened #114 "Support for Polish? Can I contribute for a database for this language?"
Can I contribute somehow to add Polish definitions, etc. to the database? (JSON format). If I could, I noticed that you guys use the Wiktionary API for all of the words? I am trying to write in python, and I was looking around on links for API's to put words into for any language really. Where should I look for where you guys use the API to fetch their other languages for words and definitions?

[2021-11-09 21:59] leifadev commented on #108
Developers been quiet :/

[2021-11-11 16:27] zehfernandes opened #115 "pt-BR is not return any result"
pt-BR is a support language https://github.com/meetDeveloper/freeDictionaryAPI/blob/87b6ebabde3ec59b02932c448bb89acb473a985a/modules/utils.js#L24

But the api is not return the definition:
https://api.dictionaryapi.dev/api/v2/entries/pt-BR/teste
https://api.dictionaryapi.dev/api/v2/entries/pt-br/teste

[2021-11-26 08:01] solamour commented on #111
I'm having the same problem; when I run it locally, `/api/v2/entries/fr/bonjour` returns the correct result, but `/api/v2/entries/en/hello` always returns "No Definitions Found".

[2021-11-30 09:27] noelzubin opened #116 "Feature request, return all examples in include=example is set."

[2021-11-30 09:28] noelzubin commented on #116
The google api returns more examples than what the api returns in this repo atm.

[2021-11-30 09:35] noelzubin commented on #116
#117 here is the implementation. Lemme know what you think

[2021-12-05 14:29] Mukarillo opened #118 "Multiple words in one request"
Hello,

I am planning to use this API in my game, but I would like to know if there is any way to get the results from multiple words with this one request.
something like:
`https://api.dictionaryapi.dev/api/v2/entries/en/hello,banana`
or
`https://api.dictionaryapi.dev/api/v2/entries/en/hello&banana`

Thanks in advance!

[2021-12-09 05:48] rpungin opened #119 "SSL Certificate Expired"
Looks like https://api.dictionaryapi.dev/ SSL certificate has expired.

<img width="642" alt="Screen Shot 2021-12-09 at 12 47 58 AM" src="https://user-images.githubusercontent.com/3802522/145341572-627c0e34-6797-4a29-aa1c-a40e2da9257b.png">

[2021-12-09 07:14] cloudy-sfu commented on #119
The same problem. @meetDeveloper

[2021-12-09 07:16] meetDeveloper commented on #119
Sorry for the inconvenience certbot did not automatically renewed it, I am having problem connecting to the instance will try to fix this ASAP.

[2021-12-09 08:02] meetDeveloper commented on #119
This should be fixed now, sorry for the inconvenience. I will look into why certbot is not renewing it automatically.

[2021-12-09 08:02] #119 closed

[2021-12-09 09:24] cloudy-sfu commented on #119
It is fixed, thank you very much!

[2021-12-09 23:55] AdrianaPana opened #120 "https error when calling api"
ERR_SSL_PROTOCOL_ERROR when searching for a word using the api or: https://dictionaryapi.dev/ (e.g. https://api.dictionaryapi.dev/api/v2/entries/en/sunset)
Thanks!

[2021-12-12 17:24] solamour commented on #120
Is this still a problem? Seems OK now.

[2021-12-13 16:18] bordedelcielo commented on #120
As of 11:16 AM Eastern US Time, I am also having this issue. The online version at URL https://api.dictionaryapi.dev/api/v2/entries/en/ and my Python script for pulling data are returning SSL errors. I am not able to pull definitions.

I would be interested in running the API locally for a personal project. If anybody has already tried that I would welcome advice.

[2021-12-13 16:19] bordedelcielo commented on #111
I am also interested in this question.

[2021-12-13 23:58] solamour commented on #111
Here is something you might want to try.

1. Open https://www.google.com/search?q=google+dictionary in your web browser.

1. Right-click on it and select `Inspect` from the pop-up menu. This will open "Developer Tools" screen.

1. Select `Network` tab in Developer Tools.

1. Enter a word in the edit box that says "Search for a word", but don't press ENTER yet.

1. Press the trash can icon (Firefox

[2021-12-21 05:47] saideepd opened #122 "Fix utils.js to replace en-uk with en_GB for supported language"
Hello @meetDeveloper ,

The language code for English (UK) as per the utils.js file is '**en-uk**', but any querying the API with that code results in 404 response code.
![image](https://user-images.githubusercontent.com/30663492/146877678-3386a1f5-6dc1-4afc-b4c2-feb082084c62.png)

Bu, I noticed that there was a closed **Issue #50** where the support for English (UK) was added and the language cod

[2022-01-11 15:56] halterdev commented on #120
I'm running into this again as of this morning

[2022-01-16 11:03] Utopiah commented on #111
Indeed, providing a `Dockerfile` would help keep AWS costs low. It's great to start, for example build a quick prototype and confirm that it works well (especially compared to the much richer but also complex Wikimedia API for Wiktionary) but once that's done I imagine advanced users would prefer to self-host.

[2022-01-25 23:12] jiannazzone commented on #120
I am also getting an SSL error:
`[boringssl] boringssl_metrics_log_metric_block_invoke(151) Failed to log metrics`

[2022-01-28 07:06] amazinglySK opened #129 "Synonyms & Antonyms are empty arrays"
On fetching the v2 API for the same example word given : hello - Returns empty arrays for the synonyms and antonyms.

![](https://imgur.com/UbNXnYc.png)

[2022-02-07 10:38] arshsaxena commented on #102
Is this migration completed?

[2022-02-07 10:39] arshsaxena opened #130 "Meaning return issue"
When I extract multiple meanings indces, the script works fine for first 2-3 words but after that it returns the last word.

[2022-02-07 23:42] Kimeiga opened #131 "How could we get a random word from this dictionary?"
So far, I have been using this random word api (https://random-word-api.herokuapp.com/word) to query this dictionary api, but it has a lot of words that don't appear in this dictionary.
![image](https://user-images.githubusercontent.com/20587215/152890741-c5c2de66-516f-4ba3-98a4-89292980c4dc.png)

Is there a way I can get a random word for this dictionary?

[2022-02-10 15:20] MuhammadSaudKhan opened #132 "API didn't giving any data after deployed"
I deployed thise API to the heroku but it says no definition even on every word. I have checked the Google API is returned 500 status code. But It is working fine on localhost.
Kindly guide me to solve this issue.
Thanks

[2022-02-16 05:10] TheHarryl commented on #131
https://github.com/meetDeveloper/freeDictionaryAPI/blob/master/meta/wordList/english.txt

[2022-02-17 19:28] meetDeveloper commented on #102
@arshsaxena @ac-lap @sbeve72 @OultimoCoder @piever This change will happen today. I hope to bring other languages soon but parsing Wiktionary for other languages is a bit difficult and will take some time.

[2022-02-18 02:05] arshsaxena commented on #130
@meetDeveloper

[2022-02-18 10:24] saudkhan488 opened #133 "Deployment issue"
This API is working correctly on localhost but when I put it to live server it is always giving following message in the screenshot.
Please guide me.
https://ibb.co/nLtz8qw

[2022-02-18 10:31] meetDeveloper commented on #102
This migration is completed. Now the API is only for English and using Wiktionary as source also I am sending in response sourceUrls from which the definitions have been parsed and the licenses.

[2022-02-18 12:41] 1over137 commented on #102
I think this will make this API completely useless, as English Wiktionary already has its own API.

[2022-02-18 14:05] arshsaxena commented on #130
@meetDeveloper, this issue still exists even after the migration.

[2022-02-18 15:11] piever commented on #102
Thanks for the notification!

I imagine (correct me if I'm wrong) that at this point, this project is primarily a "conversion layer" between the Wiktionary API and the free dictionary API. Personally, I think that it is valuable, in that it was pretty straightforward for me to work with this API, but it looks like working directly with the Wiktionary API would have been harder.

Sorry about the sl

[2022-02-18 16:25] Attiley opened #134 "Missing synonyms and antonyms"
Hello!
I noticed that the source of this great dictionary api has been changed to wiktionary.org. But why synonyms and antonyms are missing?
Now the result is like this

[code]

[2022-02-19 01:17] Poccu commented on #134
### Same here!

### Old verison was really good, there was:
\+ GOOD transcription in `data.phonetic` in 99% of cases
\+ really good audio file with a good GB pronunciation in `data.phonetics[0].audio`
\+ arrows of synonyms and antonyms

### Now in new version
\- NO transcription in `data.phonetic` in half of the words (as you can see above)
\- Alot of the `data.phonetics[0].text` = `undefined` (as

[2022-02-19 09:22] dihara2 opened #135 "Dictionary in other languages no longer works"
Hi, why is the dictionary now only available in English? Until a week ago it was also available in other languages. Please add the Spanish and Italian languages again, it was important to me. I also made a donation to you in the past :(

[2022-02-19 15:40] saideepd commented on #134
Definitely an old version of the API is needed. Even my app started failing due to missing properties

[2022-02-19 17:17] meetDeveloper commented on #130
Will you be able to share your script?

[2022-02-19 17:20] meetDeveloper commented on #135
Will it be possible to use the source code and host the API yourself? It will take some time for me to add these languages, I shifted API to use Wiktionary as base.

[2022-02-19 17:20] meetDeveloper commented on #135
Will it be possible to use the source code and host the API yourself? It will take some time for me to add these languages, I shifted API to use Wiktionary as base.

[2022-02-19 17:28] meetDeveloper commented on #79
API hosted on https://dictionaryapi.dev now uses Wiktionary and results now contain license under which results are.

[2022-02-19 17:32] arshsaxena commented on #130
const wrapper = document.querySelector(".dictionary-container"),
searchInput = wrapper.querySelector("input"),
volume = wrapper.querySelector(".word i"),
infoText = wrapper.querySelector(".info-text"),
synonyms = wrapper.querySelector(".synonyms .list"),
removeIcon = wrapper.querySelector(".search span");
let audio;

function data(result, word){
    if(result.title){
        infoText.innerHTML = `

[2022-02-19 17:33] arshsaxena commented on #130
Please ignore the indentation. Also, the messy formatting. This is the complete JS code.

[2022-02-19 18:17] silverwings15 commented on #130
slightly offtopic, but using the url syntax provided on dictionaryapi.dev, i also find that some words that are on wikitionary don't return a result via the API, such as "vndicatory"

https://api.dictionaryapi.dev/api/v2/entries/en/vindicatory
https://en.wiktionary.org/wiki/vindicatory

[2022-02-19 18:33] saideepd commented on #135
@meetDeveloper I was trying the same. Trying to host old version of source code, and everything still works fine.
Will update if I'm able to host the API on online server.

[2022-02-20 08:37] saideepd commented on #135
Hello @meetDeveloper , I'm trying the older version of the code & running into some problem.
I'm trying to host the API on Netlify & Replit.
When I hit the Internal Google URL via browser, a text file is downloaded, and when I try the same URL in Postman, I get a JSON response body.

**But when the the same URL is hit from the hosted API, it results into 500 error with some HTML Error page code in

[2022-02-21 02:28] Kolton12O opened #136 "Some English words are not available"
Love this API but I am running across an issue where some words are not being recognized.

Some of these words include: Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday, and Pythagorean

[2022-02-22 07:14] ngocsangyem commented on #102
Does the source code need to be updated @meetDeveloper ?

[2022-02-22 07:16] meetDeveloper commented on #102
@ngocsangyem yes it needs to be updated.

[2022-02-22 07:16] meetDeveloper commented on #102
@ngocsangyem yes it needs to be updated.

[2022-02-22 08:47] ngocsangyem commented on #102
It is very nice If you update the new source code soon. I need to make some customs for the API to host my app. @meetDeveloper

[2022-02-22 11:37] KennyOliver commented on #136
Don't forget ostrobogulous!

[2022-02-22 20:40] AmoabaKelvin commented on #134
My app started breaking due to the absence of synonyms and antonyms. The old version was really better than this.

[2022-02-26 11:37] jainsubh opened #137 "Arabic words dictionary doesn't work"
I tried to find definition of Arabic word "موافقة"

`https://api.dictionaryapi.dev/api/v2/entries/ar/موافقة`

I got below error

[code]
<img width="972" alt="image" src="https://user-images.githubusercontent.com/2612802/155841669-b8daf05d-0340-4fd4-ba67-bb9d5fc83dc1.png">

Thanks!

[2022-02-27 09:48] jainsubh commented on #137
Gotcha! Well I gotta idea how can I make it working for arabic or any other languages too. Thanks for your reply. Sourabh JainOn 27-Feb-2022 3:04 pm, Radsteve ***@***.***> wrote:
Yeah, the api currently only works with english words. German words also don't work.

—Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on the go with GitHub Mobile for iOS or Android.

[2022-02-27 11:34] sanzog03 commented on #134
The new api versions' result has changed from the old one. This is causing a lot of inconsistency.

[2022-02-28 04:47] akbayt commented on #137
you can deploy the older version of the API by yourself. this changes was announced last year:

`[IMPORTANT] Will remove non English languages`

https://github.com/meetDeveloper/freeDictionaryAPI/issues/102

[2022-03-01 10:30] mak-skid commented on #134
My app started having errors because of this change too. The new one should be introduced as version 3, while the old version should be preserved as version 2.

[2022-03-04 21:27] meetDeveloper commented on #134
I added synonyms and antonyms, can you tell me any other things that are breaking your implementation?

[2022-03-04 21:39] meetDeveloper commented on #102
@piever Yes you are right, Wiktionary exposes dumps that anyone can parse and use it in their own work. I was also thinking to package this API in a plain module to avoid server costs, this is something I am exploring and will likely start work in few weeks.

[2022-03-05 01:00] AmoabaKelvin commented on #134
I can see that antonyms and synonyms have been added, however, they are just empty lists. Tried it for the words, happy; sad; jump. Here is the response when the search was for sad.
[code]
They are all empty lists, but the word _sad_ has synonyms such as:

- unhappy
- sorrowful
- dejected
- regretful
- depressed

[2022-03-05 06:21] RamtinPRG commented on #134
### What happened to origin in this new changes
You know, that was a fun item in your API which you could see where and when it is exactly from.
Also there aren't synonyms and antonyms **as perfect as** they were, anymore.
I mean the API used to be better, I think it can be like that again.
### By the way, Thanks for your great and free API :)

[2022-03-06 08:48] meetDeveloper commented on #134
Synonyms antonyms are coming empty because Wiktionary usually do not have synonyms at definition level and has that at parts of speech level. For example for the word set we can take a look at its Wiktionary entry [here](https://en.wiktionary.org/wiki/set).

My API parses synonyms at definition level, here Wiktionary usually does not have synonyms present, in below image we can see one instance wh

[2022-03-06 08:52] meetDeveloper commented on #134
@RamtinPRG It will be take some time to bring origin back, I have to change how I parses of the Wiktionary data.

[2022-03-07 16:15] Brian-Bartels opened #140 "Wanted: Cost to run this API"
I am working on a small project that utilizes this API. I've hit your endpoint maybe 25 times. Anyway before I share my project with friends and family I would love to know the monthly costs for this endpoint as well as cost per hit. So that if my site get's any appreciable about of usage I can donate appropriately

[2022-03-09 06:56] sajadhsm commented on #119
@meetDeveloper It looks like the certificate needs to be renewed again.

![image](https://user-images.githubusercontent.com/20022818/157387497-c149b19d-635b-4de3-9d64-8827363f0411.png)

[2022-03-09 08:07] meetDeveloper commented on #119
@sajadhsm Renewed.

[2022-03-09 23:29] leifadev commented on #140
I don't believe there isn't too much cost at all, they said they are sourcing now exclusively from Wikitonary. I forgot where I saw this but was definitely on the github or maybe there website.

[2022-03-11 06:17] akbayt commented on #140
@leifadev I guess the cost mentioned here is not the cost for a dictionary API or such. The data source was google and to avoid legal issues it was moved to Wiktionary. What costs here is the server. Correct me if I am wrong. Did anyone mention that the developer is paying for a different service?

[2022-03-13 19:56] leifadev commented on #140
@akbayt I have no idea, hopefully the transition will complete sooner or later

[2022-03-16 05:41] #82 closed

[2022-03-26 14:02] bjkeefe opened #141 "A few common English words that the API reported as non-words during my recent use"
their, every, lives, phase, touch, tight, fewer, doses, flaps, phish

I verified each of these just now by typing them into the "Try it here" box.

No biggie, for what I was working on, but I thought you might like to know.

Thanks again for providing this service.

[2022-03-28 11:56] RamtinPRG opened #142 "a new version"
Hi again,
This is not an issue, more like a suggestion
Can we have the previous API (I mean that one with origins, several synonyms and antonyms, etc.) as another version?
Or let me know if it's already done
Thanks in advance

[2022-04-01 08:48] nityanand86876 opened #143 "can you host it to firebase as a secondary handler if aws api reached limit"

[2022-04-01 09:13] #143 closed

[2022-04-04 10:48] Etiene commented on #102
I agree!

[2022-04-16 23:43] AbbasGas opened #144 "Spanish and Deutsche words not working"
Hello Guys the API doesn't  work on Spanish and German words now...only English Works Now

[2022-04-18 14:16] b-yukky commented on #144
Same for French, not working anymore !

[2022-04-21 13:50] lsnnt opened #145 "i tried to host on azure server"
i tried to host on azure vm but it dont worked it shows connection refused by the server

[2022-04-29 15:43] jbalcorn commented on #141
Just found that 'THEIR' isn't matching

[2022-04-29 15:48] jbalcorn commented on #141
I just checked the english word list is 'their' is listed, so...something's wrong.  Here's my call:

S C:\users\jalcorn> Invoke-WebRequest -Method GET -Uri "https://api.dictionaryapi.dev/api/v2/entries/en/their"
Invoke-WebRequest : {"title":"No Definitions Found","message":"Sorry pal, we couldn't find definitions for the word you were looking for.","resolution":"You can try the search again at lat

[2022-04-29 17:19] bjkeefe commented on #141
@jbalcorn Yep,  That's pretty much what I see for all of the words I listed above.

[2022-05-02 06:11] Grovre opened #146 ""Solar" returns a malformed JSON, possibly others"

[2022-05-11 12:23] blakeleftwich opened #147 "The word "kite" is not in the dictionary"
The word "kite" is not in the dictionary as of this posting.

[2022-05-15 22:41] joabarzua opened #148 "Currently down"
Being returned:
{"title":"Something Went Wrong","message":"Sorry pal, something went wrong, and its not your fault.","resolution":"You can try the search again at later time or head to the web instead."}

[2022-05-17 14:31] blakeleftwich opened #149 "The words "phase" and "cue" are not in the dictionary"
The words "phase" and "cue" are not in the dictionary as of this posting.

[2022-05-19 17:15] igodacruz opened #150 "the words below like BE, YOUR, WAS, IS, FOR and others are not working"
please, can you fix these words below?

BE
YOUR
WAS
IS
FOR
OUR
EVERY
HELL
LOOK
NET
PHASE
THEIR
TIGHT
TIGHTEST
TOUCH
TOUCHES
LIVES
LOOKED
PROGRAMING
PROGRAMED

[2022-05-26 14:23] JereMiO commented on #64
it doesn't work

[2022-06-10 09:30] Ebala-Adrien commented on #144
I really needed this api...

[2022-07-08 14:09] paulorcvieira commented on #115
The value received in `let { word, language, version } = req.params ` in app.js on line 70 is converted to lowercase on line 91 `language = language.toLowerCase();` however when checking if this value exists on line 94 `if (!utils.isLanguageSupported(language)) { return handleError.call(res, new errors.NoDefinitionsFound()); }` is returned false due to the value being in capital letters in **modul

[2022-07-11 12:35] filip-769 opened #154 "Invalid strict-transport-security header"
The `strict-transport-security` on api.dictionaryapi.dev is set to `âmax-age=15768000â`.

[2022-07-12 06:33] hrai commented on #134
@meetDeveloper is synonyms going to be populated anytime soon?

[2022-07-17 09:05] lilmuncher opened #155 "Problem about CORS while fetching api.dictionaryapi.dev"
you can recreate mine using this CORS command in Chrome DevTools console `CTRL+SHIFT+J`

it will fetch the resource querying hello but will throw an error below

i guess the problem is the missing response header like `Access-Control-Allow-Origin: * `  or anything else

_additional: all response returning Error 502_

[2022-07-17 09:40] devadathanmb opened #156 "Add a page to check if the server is up"
The API is definitely great and very useful. But I seem to notice that the server seems to be down at times. And currently, at the time of writing this issue, it's down as well.
It would be helpful if you could create a page to monitor the stats of the server.

[2022-07-17 13:16] #155 closed, assigned to nobody

[2022-07-26 04:30] leifadev commented on #148
What request did you put in URL?

[2022-07-29 10:24] josephtownshend commented on #134
massive shame to have lost synonyms and antonyms, please bring back!

[2022-08-03 09:18] nityanand86876 commented on #148
i also came across the same error on go to http://localhost:3000/api/v1/entries/en/apple/
this api is not showing a single word but throughs the same error that @joabarzua got

[2022-08-14 20:31] navidshad commented on #137
How should I deploy the older version of the API?
It seems this repo has only the API layer, and the dictionary service is somewhere out of here.

[2022-08-16 11:16] BSGalvan commented on #156
I've taken the liberty of configuring a repository to make [Upptime](https://upptime.js.org/) do the heavy lifting, doing tasks such as:
  - Monitoring outages for the FreeDictionary API [landing page](https://dictionaryapi.dev)
  - Performing a test GET request to assess API endpoint status, to `https://api.dictionaryapi.dev/api/v2/entries/en/hello`.
  - Creating a status page with fancy graphs a

[2022-08-17 17:02] mgiuffrida commented on #150
@ngocsangyem How is your project based on this one? Do you have the code for parsing wiktionary?

Your API has more words, but it's extremely slow. Would love to be able to run locally. Thanks!

[2022-08-25 21:26] kckeiks commented on #154
This is causing my server to break when fetching with `TypeError: Invalid character in header content ["Strict-Transport-Security"]`.

[2022-08-28 10:42] m3t3kh4n opened #158 ""word is not present in Dictionary.""
"price is not present in Dictionary." -> API does not working

[2022-08-30 00:20] aidistan commented on #158
@m3t3kh4n Check https://api.dictionaryapi.dev/api/v2/entries/en/price . It works.

[2022-09-18 21:05] kamirov commented on #158
@m3t3kh4n guessing you're coming from the [NPM package](https://www.npmjs.com/package/google-dictionary-api), and installing via `npm i google-dictionary-api`? If that's the case, the package you get uses lexico.com under the hood, which stopped working as of Aug 21, 2022 or so

[2022-09-24 09:55] ngocsangyem commented on #150
Hi @mgiuffrida, I use [wiktextract](https://github.com/tatuylonen/wiktextract) to parse wiktionary. It would be very nice if you share your project also.

[2022-10-03 06:40] spacelover1 commented on #102
I want to use Oxford dictionary API and have trouble passing API key and ID. I get response using postman but in code it doesn't pass them. Anyone used this API?

[2022-10-06 11:14] Tr4shL0rd opened #163 "The word "is" is not in the dictionary"
The word "is" is not in the dictionary.

[2022-10-31 21:56] tekinomikata opened #166 "Is the source code not available?"
Awesome project I must say.

I've looked thru the current available source code but it does not match some of your messages saying it now uses wiktionary nor does the code, is the source no longer available to the latest code?

Best regards.

[2022-11-02 19:27] abhagsain commented on #102
It'd be great if you merge your latest changes to master @meetDeveloper